<!--
/**
 * Copyright © Mageworx All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div id="mageworx-location-checkout-chooser" class="mw-store-locator-locations"
     data-bind="if: isPickupSelected(), visible: isVisible">
    <div data-bind="if: isLocationSelected()" class="mw-store-locator-locations-container">
      <div data-bind="if: isLocationSelected()" class="mw-store-locator-locations">
        <h2 class=titulo-tienda-seleccionada>Tienda Seleccionada</h2>
        <ul class="mw-sl__stores__list">
            <li class="mw-sl__stores__list__item">
                <div class="mw-sl__store__info" data-bind="html:getStoreData()"></div>
            </li>
        </ul>
        <div class="tiempo-estimado-retiro">
            <span>FECHA DE RETIRO ESTIMADA: </span><span data-bind="html: getRetiro()"></input>
        </div>
        <div class="quien-retira">
          <span>¿Qui&eacute;n retira el producto?</span>
          <div class="linea-quien-retira">
            <label for="yo-retiro">Yo lo retiraré</label><br>
          	<input type="radio" id="yo-retiro"  class="checkbox-custom" name="quien-retira-pedido" value="yo" data-bind="attr:{checked:setMyRadioR1}, click: isOtraPersonaSelected()">
          </div>
          <div class="linea-quien-retira">
            <label for="otra-persona">Otra presona lo retirar&aacute;</label><br>
          	<input type="radio" id="otra-persona" class="checkbox-custom" name="quien-retira-pedido" value="otro" data-bind="attr:{checked:setMyRadioR2}, click: isOtraPersonaSelected()">
          </div>
    			
    			<div data-bind="if: otroRetira, visible: isVisible" class="quien-retira-form">
    				<div class="field _required">
    					<input type="text" id="nombre-quien-retira" class="input-quien-retira input-text required-entry" placeholder="Nombre de qui&eacute;n retira" data-bind="event: { blur: OnBlurField },value: nombreRetira, valueUpdate: 'keypress'"  data-validate="{required:true}"></input>
    				</div>
    				<div class="field _required">
    					<input type="text" id="rut-quien-retira" class="input-quien-retira input-text required-entry" placeholder="Rut" data-bind="event: { blur: OnBlurField }, value: rutRetira, valueUpdate: 'keypress'" data-validate="{required:true}"></input>
    				</div>
            <label></label>
    			</div>
        </div>
      </div>
    </div>

    <div id="local-no-seleccionado-img" class="local-no-seleccionado" data-bind="ifnot: isLocationSelected()">
      <img data-bind="attr: {src: noTiendaImageSrc() }">
      <h3>Aún no has seleccionado la tienda</h3>
    </div>
    <button type="button" id="showLocationButton" data-bind="click: openModal">
        <!-- ko if: isLocationSelected()-->
        <!-- ko i18n: 'SELECCIONAR OTRA TIENDA'--><!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot: isLocationSelected() -->
        <!-- ko i18n: 'SELECCIONAR TIENDA'--><!-- /ko -->
        <!-- /ko -->
    </button>
</div>