<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Cart $block */

/** @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
/** @var \Magento\Wishlist\ViewModel\AllowedQuantity $viewModel */
$viewModel = $block->getData('allowedQuantityViewModel');
$allowedQty = $viewModel->setItem($item)->getMinMaxQty();
?>
<?php foreach ($block->getChildNames() as $childName) : ?>
    <?= /* @noEscape */ $block->getLayout()->renderElement($childName, false) ?>
<?php endforeach;?>
<div class="box-tocart">
    <fieldset class="fieldset">
    <?php if ($item->canHaveQty() && $product->isVisibleInSiteVisibility()) : ?>
        <div class="field qty">
            <label class="label" for="qty[<?= $block->escapeHtmlAttr($item->getId()) ?>]"><span><?= $block->escapeHtml(__('Qty')) ?></span></label>
            <div class="control">
                <input type="number"  min="0" size="4" data-role="qty" id="qty[<?= $block->escapeHtmlAttr($item->getId()) ?>]" class="input-text qty" data-validate="{'required-number':true,'validate-greater-than-zero':true, 'validate-item-quantity':{'minAllowed':<?= /* @noEscape */ $allowedQty['minAllowed'] ?>,'maxAllowed':<?= /* @noEscape */ $allowedQty['maxAllowed'] ?>}}"
               name="qty[<?= $block->escapeHtmlAttr($item->getId()) ?>]" value="<?= /* @noEscape */ $block->getAddToCartQty($item) * 1 ?>" <?= $product->isSaleable() ? '' : 'disabled="disabled"' ?>>
            </div>
        </div>
    <?php endif; ?>
    <?php if ($product->isSaleable()) : ?>
    <div class="product-item-actions">
        <div class="actions-primary">
            <button type="button" data-role="tocart" data-post='<?= /* @noEscape */ $block->getItemAddToCartParams($item) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>" data-item-id="<?= $block->escapeHtmlAttr($item->getId()) ?>" class="action tocart primary">
                <span><?= $block->escapeHtml(__('Agregar')) ?></span>
            </button>
        </div>
    </div>
    <?php else : ?>
    <div class="product-item-actions">
        <div class="actions sinstock">
            <button type="button" title="Sin Stock" class="action primary tocart entra" id="product-addtocart-button">
                <svg viewBox="0 0 405.96 512">
                        <path class="bolsa-btn" d="M405.72,422.22L382.85,134.1c-1.42-18.56-17.12-33.1-35.74-33.1h-45.16v-2.03C301.95,44.4,257.55,0,202.98,0
                            s-98.97,44.4-98.97,98.97V101H58.85c-18.62,0-34.32,14.54-35.74,33.06L0.24,422.26c-1.77,23.08,6.24,46.05,21.96,63.03
                            S60.22,512,83.36,512H322.6c23.14,0,45.44-9.74,61.16-26.72C399.48,468.3,407.49,445.33,405.72,422.22z M134,98.97
                            c0-38.03,30.95-68.98,68.98-68.98s68.98,30.94,68.98,68.98V101H134V98.97z M361.76,464.9c-10.22,11.03-24.12,17.11-39.16,17.11
                            H83.37c-15.04,0-28.94-6.08-39.16-17.11c-10.22-11.03-15.21-25.36-14.06-40.32l22.87-288.2c0.23-3.03,2.8-5.41,5.84-5.41h45.16
                            v36.93c0,8.28,6.71,14.99,14.99,14.99c8.28,0,14.99-6.71,14.99-14.99v-36.93h137.96v36.93c0,8.28,6.71,14.99,14.99,14.99
                            s14.99-6.71,14.99-14.99v-36.93h45.16c3.04,0,5.6,2.38,5.84,5.45l22.86,288.11C376.97,439.54,371.97,453.87,361.76,464.9z">
                        </path></svg>
                <span>Sin Stock</span>
            </button>
        </div>
    </div>
    <?php endif; ?>
    </fieldset>
</div>
