<?php  
	$mediaUrl = $block->getMediaUrl();
	$img_banner = $mediaUrl.'logo/'. $block->getImageBannerMiCuenta('banner_cuenta_panel');
	$img_banner_movil = $mediaUrl.'logo/'. $block->getImageBannerMiCuenta('banner_cuenta_panel_movil');
?>
<picture>
<source media="(min-width: 576px)" srcset="<?php echo $img_banner ?>">
    <img src="<?php echo $img_banner_movil ?>" alt="">
</picture>

