<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
?>
<?php
/**
 * Create account form template
 *
 * @var $block \Magento\Customer\Block\Form\Register
 */
?>

<?= $block->getChildHtml('form_fields_before') ?>
<?php /* Extensions placeholder */ ?>
<?= $block->getChildHtml('customer.form.register.extra') ?>

<h1>REGÍSTRATE EN <strong>SALUD5I.CL</strong></h1>

<form class="form create account form-create-account form-create-account-custom" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
    <?= /* @noEscape */ $block->getChildHtml('form_fields_before_in_form') ?>
    <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
    


    <fieldset class="fieldset mail" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
        <legend class="legend"><span><?= $block->escapeHtml(__('Sign-in Information')) ?></span></legend><br>
        
        <div class="field required">
            <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
                <input placeholder="Email" type="email" name="email" id="email_address" autocomplete="email" value="<?= $block->escapeHtmlAttr($block->getFormData()->getEmail()) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
    </fieldset>


    <fieldset class="fieldset create info">
        <legend class="legend"><span><?= $block->escapeHtml(__('Personal Information')) ?></span></legend>
        <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>"/>
        <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>"/>
        <?= $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Name::class)->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>

        <?php $_gender = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Gender::class) ?>
        <?php if ($_gender->isEnabled()) : ?>
            <?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
        <?php endif ?>

        <?php $_taxvat = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Taxvat::class) ?>
        <?php if ($_taxvat->isEnabled()) : ?>
            <?= $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
        <?php endif ?>





        <?php $customerAttributes = $block->getChildBlock('customer_form_user_attributes');?>
        <?php if ($customerAttributes) : ?>
            <?php $customerAttributes->setObject($block->getFormData())->setEntityType('customer')->setShowContainer(false);?>
            <?php $block->restoreSessionData($customerAttributes->getMetadataForm());?>
            <?= $customerAttributes->toHtml() ?>
        <?php endif;?>

        <?php $_dob = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Dob::class) ?>
        <?php if ($_dob->isEnabled()) : ?>
            <?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
        <?php endif ?>

    </fieldset>

<?php if ($block->getShowAddressFields()) : ?>
    <fieldset class="fieldset address">
        <legend class="legend"><span><?= $block->escapeHtml(__('Address Information')) ?></span></legend><br>
        <input type="hidden" name="create_address" value="1"/>
        <div class="field company">
            <label for="company" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('company') ?></span></label>
            <div class="control">
                <input type="text" name="company" id="company" value="<?= $block->escapeHtmlAttr($block->getFormData()->getCompany()) ?>" title="<?= $block->escapeHtmlAttr(__('Company')) ?>" class="input-text <?= /* @noEscape */ $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('company') ?>"/>
            </div>
        </div>
        <div class="field telephone required">
            <label for="telephone" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('telephone') ?></span></label>
            <div class="control">
                <input type="text" name="telephone" id="telephone" value="<?= $block->escapeHtmlAttr($block->getFormData()->getTelephone()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('telephone') ?>" class="input-text <?= /* @noEscape */ $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('telephone') ?>"/>
            </div>
        </div>

        <?php $_streetValidationClass = $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('street'); ?>

        <div class="field street required">
            <label for="street_1" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?></span></label>
            <div class="control">
                <input type="text" name="street[]" value="<?= $block->escapeHtmlAttr($block->getFormData()->getStreetLine(1)) ?>" title="<?= $block->escapeHtmlAttr(__('Street Address')) ?>" id="street_1" class="input-text <?= /* @noEscape */ $_streetValidationClass ?>"/>
                <div class="nested">
                <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                <?php for ($_i = 2, $_n = $this->helper(\Magento\Customer\Helper\Address::class)->getStreetLines(); $_i <= $_n; $_i++) : ?>
                    <div class="field additional">
                        <label class="label" for="street_<?= /* @noEscape */ $_i ?>">
                            <span><?= $block->escapeHtml(__('Street Address %1', $_i)) ?></span>
                        </label>
                        <div class="control">
                            <input type="text" name="street[]" value="<?= $block->escapeHtmlAttr($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i)) ?>" id="street_<?= /* @noEscape */ $_i ?>" class="input-text <?= /* @noEscape */ $_streetValidationClass ?>"/>
                        </div>
                    </div>
                <?php endfor; ?>
                </div>
            </div>
        </div>

        <div class="field required">
            <label for="city" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?></span></label>
            <div class="control">
                <input type="text" name="city" value="<?= $block->escapeHtmlAttr($block->getFormData()->getCity()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?>" class="input-text <?= /* @noEscape */ $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('city') ?>" id="city"/>
            </div>
        </div>

        <div class="field region required">
            <label for="region_id" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?></span></label>
            <div class="control">
                <select id="region_id" name="region_id" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>" class="validate-select region_id" style="display:none;">
                    <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                </select>
                <input type="text" id="region" name="region" value="<?= $block->escapeHtmlAttr($block->getRegion()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>" class="input-text <?= /* @noEscape */ $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('region') ?>" style="display:none;"/>
            </div>
        </div>

        <div class="field zip required">
            <label for="zip" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span></label>
            <div class="control">
                <input type="text" name="postcode" value="<?= $block->escapeHtmlAttr($block->getFormData()->getPostcode()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>" id="zip" class="input-text validate-zip-international <?= /* @noEscape */ $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('postcode') ?>" data-validate="{'required':true, 'validate-zip-international':true}"/>
            </div>
        </div>

        <div class="field country required">
            <label for="country" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
            <div class="control">
                <?= $block->getCountryHtmlSelect() ?>
            </div>
        </div>
            <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
            <?php if ($addressAttributes) : ?>
                <?php $addressAttributes->setEntityType('customer_address'); ?>
                <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                <?= $addressAttributes->setShowContainer(false)->toHtml() ?>
            <?php endif;?>
        <input type="hidden" name="default_billing" value="1"/>
        <input type="hidden" name="default_shipping" value="1"/>
    </fieldset>

<?php endif; ?>
    <fieldset class="fieldset create account" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
        <legend class="legend"><span><?= $block->escapeHtml(__('Sign-in Information')) ?></span></legend>

        <!-- <div class="field required">
            <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
                <input placeholder="Email" type="email" name="email" id="email_address" autocomplete="email" value="<?= $block->escapeHtmlAttr($block->getFormData()->getEmail()) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div> -->

        <div class="field password required">
            <label for="password" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
            <div class="control">
                <input placeholder="Contraseña" type="password" name="password" id="password"
                       title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
                       class="input-text"
                       data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                       data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
                       data-validate="{required:true, 'validate-customer-password':true}"
                       autocomplete="off">

                <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?= $block->escapeHtml(__('Password Strength')) ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?= $block->escapeHtml(__('No Password')) ?>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field confirmation required">
            <label for="password-confirmation" class="label"><span><?= $block->escapeHtml(__('Confirm Password')) ?></span></label>
            <div class="control">
                <input placeholder="Confirmar contraseña" type="password" name="password_confirmation" title="<?= $block->escapeHtmlAttr(__('Confirm Password')) ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}"/>
            </div>
        </div>
        <?= $block->getChildHtml('form_additional_info') ?>
    </fieldset>



    <fieldset class="fieldset create info">

        <?php if ($block->isNewsletterEnabled()) : ?>
       

        <div class="field choice newsletter">
            
            <div class="mgs-filter-item-checkbox">
                <input type="checkbox" class="mgs-layered-checkbox" name="is_subscribed" title="<?= $block->escapeHtmlAttr(__('Sign Up for Newsletter')) ?>" value="1" id="is_subscribed"<?php if ($block->getFormData()->getIsSubscribed()) :
                ?> checked="checked"<?php endif; ?> class="checkbox"/>
                <div class="mgs-content"></div>
            </div>

            <label for="is_subscribed" class="label"><span><?= $block->escapeHtml(__('Sign Up for Newsletter')) ?></span></label>
        </div>

        <?php /* Extensions placeholder */ ?>
            <?= $block->getChildHtml('customer.form.register.newsletter') ?>
        <?php endif ?>

    </fieldset>



    <div class="actions-toolbar">
        <div class="primary">
            <button id="boton-registrar" type="submit" class="action submit primary" title="<?= $block->escapeHtmlAttr(__('Create an Account')) ?>"><span><?= $block->escapeHtml(__('REGISTRARME')) ?></span></button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Back')) ?></span></a>
        </div>
    </div>
</form>
<?php if ($block->getShowAddressFields()) : ?>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ ($block->getConfig("general/region/display_all") ? "true" : "false") ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= /* @noEscape */ $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_CustomerCustomAttributes/validation": {
                "ignore": <?= (int) ($_dob->isEnabled() || $customerAttributes->hasUserDefinedAttributes()) ?>,
                "hasUserDefinedAttributes": <?= (int) $customerAttributes->hasUserDefinedAttributes() ?>,
                "isDobEnabled": <?= (int) $_dob->isEnabled() ?>,
                "disableAutoComplete": true,
                "mixins": [
                    "Magento_CustomerCustomAttributes/error-placement",
                    "Magento_CustomerCustomAttributes/validation-ignore"
                ]
            }
        },
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        }
    }
</script>
<script>

require([
        'jquery', // jquery Library
        'mage/url',
        'jquery/ui', // Jquery UI Library
        'jquery/validate', // Jquery Validation Library
    'mage/translate' // Magento text translate (Validation message translte as per language)
    ], function($,url){ 
        var onBlurRut = function()
                    { 
            var texto = $(".form-create-account #rut").val();

            var tmpstr = "";
            var i =0;
            var j = 0;    
            for ( i=0; i < texto.length ; i++ ){     
                if ( texto.charAt(i) != ' ' && texto.charAt(i) != '.' && texto.charAt(i) != '-' ){
                    tmpstr = tmpstr + texto.charAt(i);  
                }
            }

            texto = tmpstr; 
            var largo = texto.length;   

            if ( largo < 8 )    
            {   
                if (largo == 0) {

                }else{
                    $(".form-create-account #rut").val("");
                    $(".form-create-account #rut").trigger('keyup');
                }
                //return false;   
            }   

            for (i=0; i < largo ; i++ ) 
            {           
                if ( texto.charAt(i) !="0" && texto.charAt(i) != "1" && texto.charAt(i) !="2" && texto.charAt(i) != "3" && texto.charAt(i) != "4" && texto.charAt(i) !="5" && texto.charAt(i) != "6" && texto.charAt(i) != "7" && texto.charAt(i) !="8" && texto.charAt(i) != "9" && texto.charAt(i) !="k" && texto.charAt(i) != "K" )
                {           
                    $(".form-create-account #rut").val("");
                    $(".form-create-account #rut").trigger('keyup');       
                }   
            }   

            var invertido = ""; 
            for ( i=(largo-1),j=0; i>=0; i--,j++ ){     
                invertido = invertido + texto.charAt(i); 
            }   
            var dtexto = "";    
            var dtexto = dtexto + invertido.charAt(0);  
            dtexto = dtexto + '-';  
            var cnt = 0;    

            for ( i=1,j=2; i<largo; i++,j++ )   
            {       
                //alert("i=[" + i + "] j=[" + j +"]" );     
                if ( cnt == 3 )     
                {           
                    dtexto = dtexto + '.';          
                    j++;            
                    dtexto = dtexto + invertido.charAt(i);          
                    cnt = 1;        
                }       
                else        
                {               
                    dtexto = dtexto + invertido.charAt(i);          
                    cnt++;      
                }   
            }   

            invertido = ""; 
            for ( i=(dtexto.length-1),j=0; i>=0; i--,j++ ) {    
                invertido = invertido + dtexto.charAt(i); 
            }  


            $(".form-create-account #rut").val(invertido.toUpperCase());
            $(".form-create-account #rut").trigger('keyup') 
      

            //////
            largo = texto.length;
            var rut ="";    
            if ( largo < 2 )    
            {       
                $(".form-create-account #rut").val("");
                $(".form-create-account #rut").trigger('keyup'); 
            }   
            if ( largo > 2 ){        
                rut = texto.substring(0, largo - 1); 
            }else{        
                rut = texto.charAt(0);
            }
            var dv = texto.charAt(largo-1); 


            ///////revisar 
            //revisarDigito( dv );
            var dvr = dv + ""   
            if ( dvr != '0' && dvr != '1' && dvr != '2' && dvr != '3' && dvr != '4' && dvr != '5' && dvr != '6' && dvr != '7' && dvr != '8' && dvr != '9' && dvr != 'k'  && dvr != 'K') 
            {       
                $(".form-create-account #rut").val("");
                $(".form-create-account #rut").trigger('keyup');
     
            }   
            ///////revisar     

            if ( rut == null || dv == null ){
                return 0 ; 
            }

            var dvr = '0';   
            var suma = 0 ;  
            var mul  = 2 ; 
            var dvi = 0;  

            for (i= rut.length -1 ; i >= 0; i--)    
            {   
                suma = suma + rut.charAt(i) * mul       
                if (mul == 7){           
                    mul = 2;     
                }else{                
                    mul++ ;
                }  
            }   
            var res = suma % 11 
            if (res==1){     
                dvr = 'k';   
            }else{
                if (res==0){        
                    dvr = '0';
                }   
                else{       
                    dvi = 11-res;        
                    dvr = dvi + "";  
                }
            }
            if ( dvr != dv.toLowerCase() )  {       
                $(".form-create-account #rut").val("");
                $(".form-create-account #rut").trigger('keyup'); 
            }
        };


        $(document).on('blur', '.form-create-account #rut', onBlurRut);

        $.validator.addMethod(
            'valida-rut', function (value) { 
            var texto = value;
                var tmpstr = "";
                var i= 0;
                var j= 0;
                var largo = 0;
                var rut ="";

                for ( i=0; i < texto.length ; i++ )   {  
                    if ( texto.charAt(i) != ' ' && texto.charAt(i) != '.' && texto.charAt(i) != '-' ){
                        tmpstr = tmpstr + texto.charAt(i);  
                    }
                }
                texto = tmpstr; 
                largo = texto.length;   

                if ( largo < 8 )    
                {             
                    return false;   
                }   

                for (i=0; i < largo ; i++ ) 
                {           
                    if ( texto.charAt(i) !="0" && texto.charAt(i) != "1" && texto.charAt(i) !="2" && texto.charAt(i) != "3" && texto.charAt(i) != "4" && texto.charAt(i) !="5" && texto.charAt(i) != "6" && texto.charAt(i) != "7" && texto.charAt(i) !="8" && texto.charAt(i) != "9" && texto.charAt(i) !="k" && texto.charAt(i) != "K" )
                    {           
                        return false;       
                    }   
                }   

                var invertido = ""; 
                for ( i=(largo-1),j=0; i>=0; i--,j++ ) {    
                    invertido = invertido + texto.charAt(i); 
                }   
                var dtexto = "";    
                dtexto = dtexto + invertido.charAt(0);  
                dtexto = dtexto + '-';  
                var cnt = 0;    

                for ( i=1,j=2; i<largo; i++,j++ )   
                {           
                    if ( cnt == 3 )     
                    {           
                        dtexto = dtexto + '.';          
                        j++;            
                        dtexto = dtexto + invertido.charAt(i);          
                        cnt = 1;        
                    }       
                    else        
                    {               
                        dtexto = dtexto + invertido.charAt(i);          
                        cnt++;      
                    }   
                }   

                invertido = ""; 
                for ( i=(dtexto.length-1),j=0; i>=0; i--,j++ ){      
                    invertido = invertido + dtexto.charAt(i);    
                }
                //if ( revisarDigito2(texto) ) {

                largo = texto.length;    
                if ( largo < 2 )    
                {       
                    return false;   
                }   
                if ( largo > 2 ){      
                    rut = texto.substring(0, largo - 1); 
                }else{  
                    rut = texto.charAt(0);   
                }
                var dv = texto.charAt(largo-1);  

                /////// 
                var dvr = dv + ""   
                if ( dvr != '0' && dvr != '1' && dvr != '2' && dvr != '3' && dvr != '4' && dvr != '5' && dvr != '6' && dvr != '7' && dvr != '8' && dvr != '9' && dvr != 'k'  && dvr != 'K') 
                {       
                    return false;   
                }   
                /////////  

                
                if ( rut == null || dv == null ){
                    return false;  
                }

                dvr = '0';   
                var suma = 0;    
                var mul  = 2;    

                for (i= rut.length -1 ; i >= 0; i--)    
                {   
                    suma = suma + rut.charAt(i) * mul ;      
                    if (mul == 7){         
                        mul = 2;     
                    }else{                
                        mul++;
                    }   
                }   
                var res = suma % 11; 
                if (res==1){     
                    dvr = 'k';   
                }else{
                    if (res==0){        
                        dvr = '0';   
                    }else{       
                    var dvi = 11-res;        
                    dvr = dvi + "";  
                    }
                }
                if ( dvr != dv.toLowerCase() )  
                {       
                    return false ;   
                }

                return true
                
            },
            $.mage.__("Rut inválido."));
            
        $(".form-create-account #rut").attr("data-validate", "{'valida-rut': true}");      
        $(".form-create-account .customer-dob #dob").attr("placeholder", "Fecha de Nacimiento");
        $(".form-create-account .field-rut #rut").attr("placeholder", "Rut");
    });
</script>
<!-- <script>
require(["jquery"], function ($) {
    $(document).ready(function () {
        $('#boton-registrar').click(function () { 
        // The button type should be "button" and not submit
            if ($('.form-create-account-custom').valid()) {
                alert("Validation pass");
                return false;
            }else{
                alert("Validation failed");
                return false;
            }
        });
    });
});
</script> -->



