<?php

	$_helper = $this->helper('Magento\Catalog\Helper\Output');
	$_product = $block->getProduct();
	$_code = $block->getAtCode();
	$_className = $block->getCssClass();
	$_attributeLabel = $block->getAtLabel();
	$_attributeType = $block->getAtType();
	$_attributeAddAttribute = $block->getAddAttribute();
	if ($_attributeLabel && $_attributeLabel == 'default') {
		$_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
	}
	$_attributeValue =$_product->getResource()->getAttribute($_code)->getFrontend()->getValue($_product);
	?>

<!-- Otros Atributos -->

<?php
	$CantidadVisible = 0;
	$_Descuento = $_product->getResource()->getAttribute("descuento")->getFrontend()->getValue($_product);
	$_Promo = $_product->getResource()->getAttribute("promo")->getFrontend()->getValue($_product);
	$_News = $_product->getResource()->getAttribute("news")->getFrontend()->getValue($_product);
?>
    <div class="etiquetas">

        <?php

        if (!empty($_Descuento)) {
            ?><div class="descuento"><p><?= $_Descuento ?></p></div><?php
            ++$CantidadVisible;
        }

        ?>

	</div>
