<?php

	$_helper = $this->helper('Magento\Catalog\Helper\Output');
	$_product = $block->getProduct();
	$_code = $block->getAtCode();
	$_className = $block->getCssClass();
	$_attributeLabel = $block->getAtLabel();
	$_attributeType = $block->getAtType();
	$_attributeAddAttribute = $block->getAddAttribute();
	if ($_attributeLabel && $_attributeLabel == 'default') {
		if($_product->getResource()->getAttribute($_code)){
			$_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
		}else{
			$_attributeLabel ="";
		}
		
	}

	$_attributeValue=null;
	if($_product->getResource()->getAttribute($_code)){
		$_attributeValue =$_product->getResource()->getAttribute($_code)->getFrontend()->getValue($_product);
		$_attributeValue = explode("|", $_attributeValue);
	}

	?>
	<?php if ($_attributeValue): ?>
	<details>
	<?php if ($_attributeLabel != 'none'): ?><summary class="type">Descripción</summary><?php endif; ?>
			<?php foreach ($_attributeValue as $value): ?>
				<div class="value-descripcion" <?php echo $_attributeAddAttribute;?>><?php echo $value; ?></div>
			<?php endforeach ?>
	</details>
	<?php endif; ?>