<?php
/** @var $block \MageWorx\StoreLocator\Block\LocationInfo */
/** @var $location \MageWorx\Locations\Api\Data\LocationInterface $location */
$location = $block->getLocation(); ?>
<li class="mw-sl__stores__list__item mw-store-locator-active-place location-info_<?= $block->escapeHtml($block->prepareCode(
    $block->getCodeByScale($location, $block->getScale()))
) ?> location-info_<?= $block->escapeHtml($block->prepareCode(
    $block->getCodeByScale($location, $block->getParentScale()))
) ?> location-info-block_<?= $block->escapeHtml($location->getId()) ?>">
    <address class="mw-sl__store__info">
        <span class="mw-sl__store__info__name"><?= $block->escapeHtml($block->getLocationName($location)); ?> </span>
        <span class="mw-sl__store_address"><?= $block->escapeHtml($location->getAddress()); ?>, <?= $block->escapeHtml($location->getCity()); ?></span>
        <?php if ($workingHours = $location->getWorkingHours()) : ?>
            <span class="store__info_<?= $block->escapeHtml($location->getId()) ?>"></span> <span
                    class="store__info_wh_<?= $block->escapeHtml($location->getId()) ?> <?= $location->isOpenNow() ? 'mw-sl__store__info__open'
                        : 'mw-sl__store__info__closed' ?>">
                <?= $block->escapeHtml($location->getWorkingHoursInfo()) ?></span>
        <?php endif; ?>
    </address>

    <address class="mw-sl__store__info_pickup_time" style="display:none">
        <?php echo $block->escapeHtml($location->getPickupTime());?>
    </address>
    
    <div class="mw-sl__stores__list__item__right">
        <div class="mw-sl__stores__details__route"><a
                    href="<?= $block->escapeUrl($block->getRouteUrl($location)); ?>" target="_blank">
                <i class="mw-sl__icon mw-sl__icon--route">
                    <img src="<?= $block->escapeUrl($block->getViewFileUrl('MageWorx_StoreLocator::images/svg/route.svg')); ?>"
                         alt="<?= $block->escapeHtml(__('Route')) ?>"/>
                </i>
                <span><?= $block->escapeHtml(__('Route')) ?></span>
            </a>
        </div>
        <div class="mw-sl__store__details" id="<?= $block->escapeHtml($location->getId()) ?>"><i
                    class="mw-sl__icon mw-sl__icon--details">
                <img src="<?= $block->escapeUrl($block->getViewFileUrl('MageWorx_StoreLocator::images/svg/details.svg')); ?>"
                     alt="<?= $block->escapeHtml(__('Details icon')) ?>"/></i>
            <?= $block->escapeHtml(__('Details')) ?>
        </div>
        <button class="mw-sl__store__select" id="<?= $block->escapeHtml($location->getId()) ?>" data-role="closeBtn">
            <?=$block->escapeHtml(__('Select store')) ?>
        </button>
    </div>
</li>
