<?php

$enable_module = $block->getConfig('enabled');
if($enable_module!=1) return ;
$mediaUrl = $block->getMediaUrl();
$baseUrl = $block->getBaseUrl();
$cart_image = null;
if($block->getConfig('cart_image')) {
    $cart_image = $mediaUrl.'logo/'. $block->getConfig('cart_image');
}

?>
<div class="continuar-comprando">
	<button type="button" class="continuar-comprando-button" onclick="location.href='<?php echo $baseUrl;?>'">
        <span>Continuar Comprando</span>
    </button>
</div>
<div id="minicart-image-banner" class="minicart-image-banner">
	<img src="<?php echo $cart_image;?>">
</div>
