<?php

$enable_module = $block->getConfig('enabled');
if($enable_module!=1) return ;
$mediaUrl = $block->getMediaUrl();
$cart_image = null;
if($block->getConfig('cart_image')) {
    $cart_image = $mediaUrl.'logo/'. $block->getConfig('cart_image');
}
?>
<script type="text/javascript">
    var banner_phtml = <?php echo json_encode('<img src="'.$cart_image.'">');?>
</script>
