<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate

/** @var $block \Magento\Sales\Block\Order\Email\Items\DefaultItems */

/** @var $_item \Magento\Sales\Model\Order\Item */
$_item = $block->getItem();
$_order = $_item->getOrder();
$_store = $_order->getStore();

$_imageHelper = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Catalog\Helper\Image');
$_baseImageUrl = $_store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA).'catalog/product';

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('\Magento\Catalog\Model\ProductFactory')->create()->load($_item->getProductId());

?>
<tr style="width: 500px" class="producto-tabla-resumen">

    <td>

        <table>
            
            <tr>
                
                <td style="width: 290px; float: left;" class="item-info<?= ($block->getItemOptions() ? ' has-extra' : '') ?>">

                    <table>
                        <tr>
                            
                        <td style="width: 65px; height: 65px; float: left" class="product-image">
                             <?php if($childProd = current($_item->getChildrenItems())):  ?>
                                <img width="65px" style="width: 65px; max-width: 65px; height: auto;" src="<?= $_imageHelper->init($childProd->getProduct(), 'small_image', ['type'=>'small_image'])->keepAspectRatio(true)->resize('65','65')->getUrl();?>" alt="<?= __('');?>">
                            <?php else: ?>
                                <img width="65px" style="width: 65px; max-width: 65px; height: auto;" src="<?= $_imageHelper->init($_item->getProduct(), 'small_image', ['type'=>'small_image'])->keepAspectRatio(true)->resize('65','65')->getUrl();?>" alt="<?= __('');?>">               
                            <?php endif; ?> 
                        </td>

                        <td class="product-info" style="width: 220px; height: 65px; float: left;">
                            <p style="font-weight: 700;
                            font-size: 12px;
                            color: black;
                            text-align: left;
                            margin: 0;" class="product-marca"><?= $product->getData('marca');?></p>
                            
                            <p style="font-size: 11px;
                            color: black;
                            font-weight: 300;
                            text-align: left;
                            margin:0;" class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p>

                            <p style="font-weight: 300;
                            color: #cacaca;
                            font-size: 11px;
                            text-align: left;
                            margin:0;" class="sku"><?= $block->escapeHtml(__('SKU')) ?>: <?= $block->escapeHtml($block->getSku($_item)) ?></p>
                            <?php if ($block->getItemOptions()) : ?>
                                
                            <p style=" margin: 0;" class="item-options">
                                <?php foreach ($block->getItemOptions() as $option) : ?>

                                <strong style="width: 29px; float: left; font-size: 10px;">
                                    <em><?= $block->escapeHtml($option['label']) ?></em>
                                </strong>
                                
                                <span style="margin: 0; float: left; font-size: 10px; color: #e31c79;">
                                    <?= /* @noEscape */  nl2br($block->escapeHtml($option['value'])) ?>
                                </span>

                                <?php endforeach; ?>
                            </p>
                            
                            <?php endif; ?>
                            <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                            <?php if ($addInfoBlock) :?>
                                <?= $addInfoBlock->setItem($_item)->toHtml() ?>
                            <?php endif; ?>
                            <?= $block->escapeHtml($_item->getDescription()) ?>
                            
                        </td>

                        </tr>
                    </table>

                
                </td>

                <td style="width: 100px;
                        height: 65px;
                        float: left; text-align: center;" class="item-qty"><?= (float) $_item->getQtyOrdered() ?>     
                </td>

                <td style="width: 105px;
                        height: 65px;
                        float: left;
                        font-weight: 700;
                        text-align: right;" class="item-price">
                    <?= /* @noEscape */ $block->getItemPrice($_item) ?>
                </td>
            </tr>

        </table>

    </td>
    
</tr>

<?php if ($_item->getGiftMessageId()
    && $_giftMessage = $this->helper(\Magento\GiftMessage\Helper\Message::class)
        ->getGiftMessage($_item->getGiftMessageId())
) : ?>
<tr>
    <td colspan="3" class="item-extra">

        <table class="message-gift">
            <tr>
                <td>
                    <h3><?= $block->escapeHtml(__('Gift Message')) ?></h3>
                    <strong><?= $block->escapeHtml(__('From:')) ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                    <br /><strong><?= $block->escapeHtml(__('To:')) ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                    <br /><strong><?= $block->escapeHtml(__('Message:')) ?></strong>
                    <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                </td>
            </tr>
        </table>
    </td>
</tr>
<?php endif; ?>
