<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Contact\Block\ContactForm $block */
?>



<div class="contenedor_banner_nosotros">
      <img class="banner-nosotros-desktop" src="/static/frontend/anticipa/salud5im2template/es_CL/images/banners/servicio-al-cliente.jpg" alt="" />
      <img class="banner-nosotros-mobile" src="/static/frontend/anticipa/salud5im2template/es_CL/images/banners/servicio-al-cliente-mb.jpg" alt="" />
</div>

<div class="accordion js-accordion menu-acordeon-movil">
  <div class="accordion__item js-accordion-item">
    <div class="accordion-header js-accordion-header">CONTÁCTANOS</div> 
 
    <div class="accordion-body js-accordion-body">
    
      <div class="accordion-body__contents">
          <a href="/terminos-y-condiciones-farmacia">TÉRMINOS Y CONDICIONES</a>
          <!-- <a href="/consulta-tu-pedidos/index/form">SEGUIMIENTO DE PEDIDO</a> -->
          <a href="/contact/index"><strong>CONTÁCTANOS</strong></a>
      </div>
    
    </div>
  </div>
</div>





<div class="contenido-estaticas">
    <div class="terminos-caja">

      <div class="tab ocultar_en_movil links">
            <a href="/terminos-y-condiciones-farmacia">TÉRMINOS Y CONDICIONES</a>
            <!-- <a href="/consulta-tu-pedidos/index/form">SEGUIMIENTO DE PEDIDO</a> -->
            <a href="/contact/index" class="estatica-activa">CONTÁCTANOS</a>
        </div>

      <div class="terminos">


       <div class="contenedor_info">
        <h3>CONTACTO</h3>
        <div class="contenedor_columnas">
          <div class="contenedor_formulario">



            <!-- formulario del magento -->
             <form class="form contact"
                  action="<?= $block->escapeUrl($block->getFormAction()) ?>"
                  id="contact-form"
                  method="post"
                  data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
                  data-mage-init='{"validation":{}}'>

                <fieldset class="fieldset">
                    <legend class="legend"><span><?= $block->escapeHtml(__('Write Us')) ?></span></legend>
                    <div class="field note no-label"><?= $block->escapeHtml(__('Jot us a note and we’ll get back to you as quickly as possible.')) ?></div>
                    <div class="field name required">
                        <label class="label" for="name"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
                        <div class="control">
                            <input name="name" placeholder="Nombres y Apellidos" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('name') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
                        </div>
                    </div>
                    <div class="field email required">
                        <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                        <div class="control">
                            <input name="email" id="email" placeholder="Email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('email') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
                        </div>
                    </div>
                    <div class="field telephone">
                        <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Phone Number')) ?></span></label>
                        <div class="control">
                            <input name="telephone" id="telephone" placeholder="Teléfono" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" class="input-text" type="text" />
                        </div>
                    </div>


                    <!-- agregar select -->
                    <div class="field asunto">
                        <label class="label" for="asunto"><span><?= $block->escapeHtml(__('Asunto')) ?></span></label>
                        <div class="control">
                            <select name="asunto" id="asunto" data-validate="{required:true}" >
                                <option disabled selected value>Asunto</option>
                                <option value="Felicitaciones">Felicitaciones</option>
                                <option value="Consultas">Consultas</option>
                                <option value="Problema con mi pedido">Problema con mi pedido</option>
                                <option value="Otros">Otros</option>
                            </select>
                        </div>
                    </div>


                    <div class="field comment required">
                        <label class="label" for="comment"><span><?= $block->escapeHtml(__('What’s on your mind?')) ?></span></label>
                        <div class="control">
                            <textarea name="comment" id="comment" placeholder="¿Cómo podemos ayudarte?" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?= $block->escapeHtml($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('comment')) ?></textarea>
                        </div>
                    </div>
                    <?= $block->getChildHtml('form.additional.info') ?>
                </fieldset>
                <div class="actions-toolbar">
                    <div class="primary">
                        <input type="hidden" name="hideit" id="hideit" value="" />
                        <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                            <span><?= $block->escapeHtml(__('Submit')) ?></span>
                        </button>
                    </div>
                </div>
            </form>
            <!-- fin formulario del magento -->
        </div>

        <div class="contenedor_empresa">
          <div class="contenedor_info_venta_empresa">

            <div>
            
                 <h4>SERVICIO AL CLIENTE</h4>

                 <p class="contacto email">

                    <svg class="icono-contacto" viewBox="0 0 512 512" >
                    <path  d="M10.7,95.7C81,155.2,204.3,259.9,240.5,292.5c4.9,4.4,10.1,6.6,15.5,6.6c5.4,0,10.6-2.2,15.5-6.6
                      C307.7,259.9,431,155.2,501.3,95.7c4.4-3.7,5-10.2,1.5-14.7c-8.2-10.4-20.4-16.4-33.5-16.4H42.7c-13.1,0-25.3,6-33.5,16.4
                      C5.6,85.5,6.3,92,10.7,95.7z M505.8,127.9c-3.8-1.8-8.2-1.2-11.4,1.5C416.5,195.5,317,280.2,285.7,308.4
                      c-17.6,15.8-41.9,15.8-59.5,0c-33.4-30-145-125-208.7-178.9c-3.2-2.7-7.6-3.3-11.4-1.5c-3.7,1.8-6.2,5.5-6.2,9.7v268.3
                      c0,23.5,19.1,42.7,42.7,42.7h426.7c23.5,0,42.7-19.1,42.7-42.7V137.6C512,133.4,509.6,129.6,505.8,127.9z"/>
                    </svg>

                    <a href="mailto:contacto@salud5i.cl">contacto@salud5i.cl</a>
                </p>

                <p class="contacto direccion">

                    <svg class="icono-contacto" viewBox="0 0 341.3 512">
                      <g>
                        <g>
                          <path d="M170.7,0C76.6,0,0,76.6,0,170.7c0,28.3,7.1,56.3,20.5,81.1l140.8,254.7c1.9,3.4,5.4,5.5,9.3,5.5c3.9,0,7.5-2.1,9.3-5.5
                            l140.9-254.8c13.4-24.8,20.4-52.8,20.4-81C341.3,76.6,264.8,0,170.7,0z M170.7,256c-47.1,0-85.3-38.3-85.3-85.3
                            s38.3-85.3,85.3-85.3s85.3,38.3,85.3,85.3S217.7,256,170.7,256z"/>
                        </g>
                      </g>
                    </svg>

                    <a href="/nuestras-tiendas/index/page">Sucursales</a>
                </p>

                <p class="contacto fono">

                    <svg class="icono-contacto" viewBox="0 0 384 384">
                      <g>
                        <g>
                          <path d="M362.7,266.7c-26.6,0-52.3-4.3-76.2-12.2c-7.4-2.3-15.8-0.6-21.7,5.2l-46.9,47c-60.5-30.7-109.9-80.1-140.6-140.5
                            l46.9-47.1c5.9-5.9,7.6-14.3,5.2-21.7c-7.9-23.9-12.2-49.6-12.2-76.2C117.3,9.5,107.8,0,96,0H21.3C9.6,0,0,9.5,0,21.3
                            C0,221.7,162.3,384,362.7,384c11.8,0,21.3-9.5,21.3-21.3V288C384,276.2,374.5,266.7,362.7,266.7z"/>
                        </g>
                      </g>
                    </svg>


                    <a href="callto:+56666666666">(+56) 666 666 666</a>
                </p>


                <!-- <div class="redes-contacto">
                    <h4 class="titulo-before">REDES SOCIALES</h4>

                    <div class="redes-contacto-caja">

                        <a href="https://www.facebook.com/FarmaciaMapucheMakelawen">
                         <svg viewBox="0 0 256.02 512">
                            <path class="svg_negro" d="M209.28,85.01h46.74V3.61C247.96,2.5,220.22,0,187.93,0C120.53,0,74.37,42.39,74.37,120.3V192H0v91.01h74.37
                            V512h91.18V283.03h71.36l11.33-91.01h-82.71v-62.7C165.55,103.02,172.63,85.01,209.28,85.01L209.28,85.01z"></path>
                         </svg>
                        </a>

                        <a href="https://twitter.com/fmakelawen">

                          <svg viewBox="0 0 512 416">
                            <g>
                              <g>
                                <path class="svg_negro" d="M512,49.2c-19,8.4-39.3,13.9-60.5,16.6c21.8-13,38.4-33.4,46.2-58c-20.3,12.1-42.7,20.6-66.6,25.4
                                  C411.9,12.7,384.4,0,354.5,0c-58.1,0-104.9,47.2-104.9,105c0,8.3,0.7,16.3,2.4,23.9C164.7,124.7,87.5,82.8,35.6,19.1
                                  c-9.1,15.7-14.4,33.7-14.4,53.1c0,36.4,18.7,68.6,46.6,87.2c-16.9-0.3-33.4-5.2-47.4-12.9c0,0.3,0,0.7,0,1.2
                                  c0,51,36.4,93.4,84.1,103.1c-8.5,2.3-17.9,3.5-27.5,3.5c-6.7,0-13.5-0.4-19.9-1.8c13.6,41.6,52.2,72.1,98.1,73.1
                                  c-35.7,27.9-81.1,44.8-130.1,44.8c-8.6,0-16.9-0.4-25.1-1.4c46.5,30,101.6,47.1,161,47.1c193.2,0,298.8-160,298.8-298.7
                                  c0-4.6-0.2-9.1-0.4-13.6C480.2,89,497.7,70.5,512,49.2z"/>
                              </g>
                            </g>
                          </svg>

                        </a>

                        <a href="https://www.instagram.com/farmacia_mapuche/">
                            <svg viewBox="0 0 512 512.01">
                              <path class="svg_negro" d="M256.09,124.53c-72.6,0-131.37,58.84-131.37,131.37c0,72.6,58.84,131.37,131.37,131.37
                              c72.6,0,131.37-58.84,131.37-131.37C387.46,183.3,328.62,124.53,256.09,124.53L256.09,124.53z M256.09,341.17
                              c-47.13,0-85.27-38.17-85.27-85.27s38.17-85.27,85.27-85.27s85.27,38.17,85.27,85.27C341.38,303.01,303.22,341.17,256.09,341.17z
                               M361.56,1.61c-47.1-2.2-163.78-2.09-210.92,0C109.21,3.55,72.67,13.55,43.2,43.02C-6.03,92.25,0.26,158.6,0.26,255.9
                              c0,99.58-5.55,164.39,42.94,212.89c49.43,49.41,116.74,42.94,212.89,42.94c98.65,0,132.69,0.06,167.57-13.44
                              c47.42-18.41,83.22-60.8,86.72-136.94c2.22-47.13,2.09-163.78,0-210.92C506.16,60.55,457.92,6.05,361.56,1.61L361.56,1.61z
                               M436.12,436.21c-32.28,32.28-77.06,29.4-180.65,29.4c-106.67,0-149.44,1.58-180.65-29.72c-35.95-35.78-29.44-93.23-29.44-180.33
                              c0-117.87-12.1-202.75,106.2-208.81c27.18-0.96,35.18-1.28,103.59-1.28l0.96,0.64c113.69,0,202.88-11.9,208.23,106.37
                              c1.22,26.99,1.49,35.09,1.49,103.4C465.84,361.31,467.84,404.34,436.12,436.21L436.12,436.21z M392.67,88.65
                              c16.95,0,30.7,13.74,30.7,30.7s-13.74,30.7-30.7,30.7s-30.7-13.74-30.7-30.7S375.71,88.65,392.67,88.65z"></path>
                        </svg>
                        </a>

                    </div>
                </div>  -->

            </div>     


          </div>
        </div>
        </div>
      </div>


      </div>
    </div>
</div>








<script>

require([
    'jquery',
    'mage/mage'
], function($){


var accordion = (function(){
  
  var $accordion = $('.js-accordion');
  var $accordion_header = $accordion.find('.js-accordion-header');
  var $accordion_item = $('.js-accordion-item');
 
  // default settings 
  var settings = {
    // animation speed
    speed: 500,
    
    // close all other accordion items if true
    oneOpen: false
  };
    
  return {
    // pass configurable object literal
    init: function($settings) {
      $accordion_header.on('click', function() {
        accordion.toggle($(this));
      });
      
      $.extend(settings, $settings); 
      
      // ensure only one accordion is active if oneOpen is true
      if(settings.oneOpen && $('.js-accordion-item.active').length > 1) {
        $('.js-accordion-item.active:not(:first)').removeClass('active');
      }
      
      // reveal the active accordion bodies
      $('.js-accordion-item.active').find('> .js-accordion-body').show();
    },
    toggle: function($this) {
            
      if(settings.oneOpen && $this[0] != $this.closest('.js-accordion').find('> .js-accordion-item.active > .js-accordion-header')[0]) {
        $this.closest('.js-accordion')
               .find('> .js-accordion-item') 
               .removeClass('active')
               .find('.js-accordion-body')
               .slideUp()
      }
      
      // show/hide the clicked accordion item
      $this.closest('.js-accordion-item').toggleClass('active');
      $this.next().stop().slideToggle(settings.speed);
    }
  }
})();

$(document).ready(function(){
  accordion.init({ speed: 500, oneOpen: true });
});


});
</script>



