<?php
	$urlWishList = $block->getBaseUrl().'wishlist';

?>
<?php if (trim($block->getCustomerName()) == "") : ?>
   	<a class="corazon-wishlist" href="#" onclick="APopLogin(true)">	
		
        <svg viewBox="0 0 512 455.5">
            <path d="M256,455.5c-7.3,0-14.3-2.6-19.8-7.4C215.5,430,195.6,413,178,398l-0.1-0.1C126.3,354,81.8,316,50.8,278.6
                C16.1,236.8,0,197.2,0,153.9C0,111.8,14.4,73,40.6,44.6C67.1,15.8,103.5,0,143,0c29.6,0,56.6,9.3,80.4,27.8
                c12,9.3,22.9,20.7,32.5,34c9.6-13.3,20.5-24.7,32.5-34C312.4,9.3,339.4,0,369,0c39.5,0,75.9,15.8,102.4,44.6
                C497.6,73,512,111.8,512,153.9c0,43.3-16.1,82.9-50.8,124.7c-31,37.4-75.5,75.4-127.1,119.3c-17.6,15-37.6,32-58.3,50.2
                C270.3,452.9,263.3,455.5,256,455.5z"/>
        </svg>

	</a>



<?php else: ?>
	<!-- DEMO CORAZON -->
    <?php
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $CodigoProduc = "";
        $_in_wishlist = false;
        foreach ($this->helper('Magento\Wishlist\Helper\Data')->getWishlistItemCollection() as $_wishlist_item){
            $_in_wishlist = true;
        }
        $customerSession = $objectManager->get('Magento\Customer\Model\Session');
        if($customerSession->isLoggedIn()) {

                    if($_in_wishlist) { ?>
                        <a href="<?php echo $urlWishList ?>" >
                            <svg  viewBox="0 0 512 455.52">
                                <path class="svg_rosa" d="M471.38,44.58C444.88,15.83,408.51,0,368.97,0c-29.55,0-56.62,9.34-80.45,27.77c-12.02,9.3-22.92,20.68-32.52,33.96
                                    c-9.6-13.28-20.5-24.66-32.53-33.96C199.65,9.34,172.58,0,143.03,0C103.49,0,67.12,15.83,40.61,44.58C14.43,72.99,0,111.8,0,153.87
                                    c0,43.3,16.14,82.94,50.78,124.74c30.99,37.39,75.54,75.36,127.12,119.31c17.61,15.01,37.58,32.03,58.31,50.15
                                    c5.48,4.8,12.5,7.44,19.79,7.44c7.29,0,14.32-2.64,19.79-7.43c20.73-18.13,40.71-35.15,58.33-50.17
                                    c51.57-43.95,96.12-81.91,127.11-119.3c34.64-41.8,50.78-81.44,50.78-124.74C512,111.8,497.57,72.99,471.38,44.58z"/>
                            </svg>
                            <!-- <span>FAVORITO</span> -->
                        </a>
                    <?php } else { ?>
                        <a href="<?php echo $urlWishList ?>" >
                            <svg viewBox="0 0 512 455.5">
                                <style type="text/css">
                                    .corazon-boria{fill: #f19a1d;}
                                </style>
                                <path class="corazon-boria" d="M256,455.5c-7.3,0-14.3-2.6-19.8-7.4C215.5,430,195.6,413,178,398l-0.1-0.1C126.3,354,81.8,316,50.8,278.6
                                    C16.1,236.8,0,197.2,0,153.9C0,111.8,14.4,73,40.6,44.6C67.1,15.8,103.5,0,143,0c29.6,0,56.6,9.3,80.4,27.8
                                    c12,9.3,22.9,20.7,32.5,34c9.6-13.3,20.5-24.7,32.5-34C312.4,9.3,339.4,0,369,0c39.5,0,75.9,15.8,102.4,44.6
                                    C497.6,73,512,111.8,512,153.9c0,43.3-16.1,82.9-50.8,124.7c-31,37.4-75.5,75.4-127.1,119.3c-17.6,15-37.6,32-58.3,50.2
                                    C270.3,452.9,263.3,455.5,256,455.5z"/>
                            </svg>
                            <!-- <span>FAVORITO</span> -->
                        </a>
                    <?php } ?>
                    <?php 
        } else { ?> 

             <a href="#" onclick="APopLogin(true)">
                            <svg viewBox="0 0 512 455.5">
                                <style type="text/css">
                                    .corazon-boria{fill: #f19a1d;}
                                </style>
                                <path class="corazon-boria" d="M256,455.5c-7.3,0-14.3-2.6-19.8-7.4C215.5,430,195.6,413,178,398l-0.1-0.1C126.3,354,81.8,316,50.8,278.6
                                    C16.1,236.8,0,197.2,0,153.9C0,111.8,14.4,73,40.6,44.6C67.1,15.8,103.5,0,143,0c29.6,0,56.6,9.3,80.4,27.8
                                    c12,9.3,22.9,20.7,32.5,34c9.6-13.3,20.5-24.7,32.5-34C312.4,9.3,339.4,0,369,0c39.5,0,75.9,15.8,102.4,44.6
                                    C497.6,73,512,111.8,512,153.9c0,43.3-16.1,82.9-50.8,124.7c-31,37.4-75.5,75.4-127.1,119.3c-17.6,15-37.6,32-58.3,50.2
                                    C270.3,452.9,263.3,455.5,256,455.5z"/>
                            </svg>
                            <!-- <span>FAVORITO</span> -->
            </a>
            <?php
        }
    ?>
    <!-- FIN DEMO CORAZON -->


<?php endif; ?>