<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (isVisible()) -->
<div class="shipping-information">
    <details class="ship-to">
        <summary class="shipping-information-title">
            <div class="shipping-information-title-content">
                <span data-bind="i18n: 'Mis Datos'" class="method-title"></span>
                <button class="action action-edit" data-bind="click: back">
                    <span data-bind="i18n: 'edit'"></span>
                </button>
             </div>
        </summary>
        <div class="shipping-information-content">
            <!-- ko foreach: getRegion('ship-to') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
    </details>
    <details class="ship-via" open>
        <summary class="shipping-information-title">
            <div class="shipping-information-title-content"> 
                <span data-bind="i18n: '¿C&oacute;mo recibes tu compra?'" class="method-title"></span>
                <button class="action action-edit" data-bind="click: backToShippingMethod">
                    <span data-bind="i18n: 'edit'"></span>
                </button>
            </div>
        </summary>
        <div class="shipping-information-content">
            
            <!-- ko if: (isRetiro()) -->
            <span class="value" data-bind="text: 'Retiro en tienda'"></span>
            <div class="summary-section-box">
                <span class="value-label">Retira:</span>
                <span class="value" data-bind="text: quienRetiraNombre()"></span>
                <span class="value" data-bind="text: quienRetiraRut()"></span>
            </div>
            <div class="summary-section-box">
                <span class="value-label">Nombre Sucursal:</span>
                <span class="value" data-bind="text: infoLocaLNombre()"></span>
            </div>
            <div class="summary-section-box">
                <span class="value-label">Dirección:</span>
                <span class="value" data-bind="text: infoLocaLDireccion()"></span>
            </div>
            <div class="summary-section-box">
                <span class="value-label">Fecha Retiro Estimada:</span>
                <span class="value" data-bind="text: calculaRetiro()"></span>
            </div>
            <!--/ko-->
            <!-- ko if: (isDespacho()) -->
            <span class="value" data-bind="text: 'Envío a domicilio'"></span>
            <div class="summary-section-box">
                <span class="value-label">Dirección de envío:</span>
                <span class="value" data-bind="text: direccionDespacho()"></span>
            </div>
            <div class="summary-section-box">
                <span class="value-label">Quién recibe:</span>
                <span class="value" data-bind="text: quienDespachaNombre()"></span>
                <span class="value" data-bind="text: quienDespachaRut()"></span>
            </div>
            <div class="summary-section-box">
                <!--<span class="value-label">Fecha de entrega estimada entre:</span>
		<span class="value" data-bind="text: getDespacho()"></span>-->
		<span>DESPACHO </span><span data-bind="html: getDespacho()"></span><span> DIAS HABILES</span>

            </div>
            <!--/ko-->
        </div>
    </details>
</div>
<!--/ko-->
