input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
    background: #fff;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    height: 37px;
    padding: 0 15px;
    vertical-align: baseline;
    color: grey;
}

select {
    border: 1px solid white!important;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    height: 37px;
    padding: 4px 25px 5px 15px;
    color: #a0a3a2;
}

button{
    text-transform: uppercase!important;
}

::-webkit-input-placeholder {
    color: #A0A3A2!important;
}
  
:-ms-input-placeholder {
    color: #A0A3A2!important;
}

::placeholder {
    color: #A0A3A2!important;
}

.checkbox-custom[type=radio]{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
 }
 
.checkbox-custom[type=radio]{
    width: 20px;
    height: 20px;
    border: solid 1px #C4C4C4;
    background-color: #C4C4C4;
    margin-right: 8px;
    position: relative;
}

.checkbox-custom[type=radio]:checked::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #4F4F4F;
    position: absolute;
    top: 4px;
    left: 4px;
}

.checkbox-custom[type=radio],
.checkbox-custom[type=radio]:checked::before{
    border-radius: 100%;
}






.checkbox-check[type=checkbox]{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
 }
 
.checkbox-check[type=checkbox]{
    width: 18px!important;
    height: 18px!important;
    border: solid 1px black!important;
    background-color: white!important;
    margin-right: 8px!important;
    cursor: pointer;
}

.checkbox-check[type=checkbox]:checked::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #ff157c;
    position: absolute;
    top: 3px;
    left: 3px;
}

/*.checkbox-check[type=checkbox],
.checkbox-check[type=checkbox]:checked::before{
    border-radius: 100%;
}*/