﻿header.page-header{
	background-color: #ffffff;
}

.sections.nav-sections{
	background-color: #f4f4f4;
}

.minicart-wrapper .action.showcart .counter-number {
    text-shadow: none;
}

.sections.nav-sections .navigation .megamenu a.level-top {
    height: 60px;
    margin-top: 0px;
}

.sections.nav-sections .navigation .megamenu a:hover,
.sections.nav-sections .navigation .level0>.level-top:hover {
    color: inherit!important;
}

.corazon-wishlist > svg > path,
.bolsa-header,
.user-header{
	fill: #f19a1d;
}


@media (max-width: 767px){

	.menu-movil .usuario-caja {
        background: #4ebf6a!important;
    }

    .user-header{
		fill: white!important;
	}

	.customer-register-links a {
	    color: white!important;
	}

	.block.block-content {
	    width: 100%;
	}

	.sections.nav-sections {
	    border-top: none;
	    margin-top: 0;
	}

}
        
