<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="product-item-details">

    <div class="product-item-inner">     
        <div class="product-item-name-block">
            <!-- ko if: (getMarcaSalud5i($parent))-->
            <strong class="product-item-manufacturer" data-bind="text: getMarcaSalud5i($parent)"></strong>
            <!-- /ko -->
            <strong class="product-item-name" data-bind="html: $parent.name"></strong>
            <div class="details-qty">
                <span class="label"><!-- ko i18n: 'Qty' --><!-- /ko --></span>
                <span class="value" data-bind="text: $parent.qty"></span>
            </div>
            <div class="etiquetas">
                <!-- ko if: (getNews($parent) == 'Sí')-->
                    <!-- ko ifnot: (getCyber($parent) == 'Sí')-->
                    <strong class="newsdet">New</strong>
                    <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: (getCyber($parent) == 'Sí')-->
                    <strong class="cyberdet">Cyber</strong>
                <!-- /ko -->

                <!-- ko if: (getPromo($parent))-->
                    <strong data-bind="text: getPromo($parent)" class="promodet"></strong>
                <!-- /ko -->                

                <!-- ko if: (getDescuento($parent))-->
                    <strong data-bind="text: getDescuento($parent)" class="descdet"></strong>
                <!-- /ko -->
            </div>
        </div>
        <!-- ko foreach: getRegion('after_details') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>

    <!-- ko if: (JSON.parse($parent.options).length > 0)-->
    <div class="product options" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
        <span data-role="title" class="toggle"><!-- ko i18n: 'View Details' --><!-- /ko --></span>
        <div data-role="content" class="content">
            <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
            <dl class="item-options">
                <!--ko foreach: JSON.parse($parent.options)-->
                <dt class="label" data-bind="text: label"></dt>
                    <!-- ko if: ($data.full_view)-->
                    <dd class="values" data-bind="html: full_view"></dd>
                    <!-- /ko -->
                    <!-- ko ifnot: ($data.full_view)-->
                    <dd class="values" data-bind="html: value"></dd>
                    <!-- /ko -->
                <!-- /ko -->
            </dl>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- ko foreach: getRegion('item_message') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
