<?php
// @codingStandardsIgnoreFile

/** @var \Aheadworks\Blog\Block\Post\RelatedProduct $block */
use Magento\Framework\App\Action\Action;
if ($relatedProductIds = $block->getRelatedProductIds()):
    $class = 'aw_blog_related_products';
    $image = 'related_products_list';
    $title = __('Related Products');
    $type = 'widget-product-carousel';
    $showCart =  $block->isDisplayAddToCart();
    $dataMageInit = $block->getDataMageInit();
    $visibility = $dataMageInit == '{}' ? 'visible' : 'hidden';
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
?>
<div data-mage-init='<?php /* @noEscape */ echo $dataMageInit ?>' class="block <?php /* @noEscape */ echo $class; ?>"
         style="visibility: <?php /* @noEscape */ echo $visibility; ?>">
        <div class="block-title title">
            <strong id="block-<?php /* @noEscape */ echo $class?>-heading" role="heading" aria-level="2">
                <?php /* @noEscape */ echo $title; ?>
            </strong>
        </div>
        <div class="block-content content lo_nuevo" aria-labelledby="block-<?php /* @noEscape */ echo $class?>-heading">
            <div class="products wrapper grid products-<?php /* @noEscape */ echo $class; ?>">

                    <ol data-aw-blog-block="items" class="product-items">
                    <?php $iterator = 1; ?>
                    <?php foreach ($relatedProductIds as $productId): ?>
                    <?php //foreach ($items as $_item) : ?>
                    <?php
                        $_item = $block->getProductById($productId);
                        $available = '';
                    ?>
                    <?= /* @noEscape */ ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
                            <div class="product-item-info">
                                <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
                                    <?= $block->getImage($_item, $image)->toHtml() ?>
                                </a>
                                <div class="product details product-item-details">
                                <?php
                                $_Descuento = $_item->getResource()->getAttribute("descuento")->getFrontend()->getValue($_item);
                                $_News = $_item->getResource()->getAttribute("news")->getFrontend()->getValue($_item);
                                ?>
                                <div class="etiquetas">
                                <?php
                                $var2 = "Sí";
                                if (strcmp($_News, $var2) === 0) {
                                ?><div class="new"><p>NEW</p></div><?php
                                }

                                if (!empty($_Descuento)) {
                                    ?><div class="descuento"><p><?= $_Descuento ?></p></div><?php
                                } ?>
                            </div>

                            <?php if ($block->escapeHtml($_item->getAttributeText('marca'))) : ?>
                                <span class="product-item-marca"><a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"><?= $block->escapeHtml($_item->getAttributeText('marca')) ?></a></span>
                            <?php endif; ?>
                            <?php if ($block->escapeHtml($_item->getAttributeText('marca_salud5i'))) : ?>
                                <span class="product-item-marca"><a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"><?= $block->escapeHtml($_item->getAttributeText('marca_salud5i')) ?></a></span>
                            <?php endif; ?>
                            
                            <strong class="product-item-name">
                                <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                class="product-item-link">
                                <p><?= $block->escapeHtml($_item->getName()) ?></p>
                                 </a>
                            </strong>
                    
                            <?= $block->getProductPriceHtml($_item, $type) ?>

                            <?php if ($templateType) : ?>
                                <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                            <?php endif; ?>

                            <?= $block->getProductDetailsHtml($_item) ?>

                            <?php if ($showWishlist || $showCompare || $showCart) : ?>
                            <div class="product-item-inner">
                                    <div class="product-item-actions">
                                        <?php if ($showCart) : ?>
                                            <div class="actions-primary">
                                                <?php if ($_item->isSaleable()) : ?>
                                                    <?php $postParams = $block->getAddToCartPostParams($_item); ?>
                                                    <form data-role="tocart-form" data-product-sku="<?= $block->escapeHtml($_item->getSku()) ?>" action="<?= $block->escapeUrl($postParams['action']) ?>" method="post">
                                                        <input type="hidden" name="product" value="<?= $block->escapeHtmlAttr($postParams['data']['product']) ?>">
                                                        <input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                                        <?= $block->getBlockHtml('formkey') ?>
                                                        <button type="submit"
                                                        title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                        class="action tocart primary">
                                                            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                        </button>
                                                    </form>
                                                <?php else : ?>
                                                    <?php if ($_item->getIsSalable()) : ?>
                                                        <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                                    <?php else : ?>
                                                        <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                                    <?php endif; ?>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>

                                        <!-- DEMO CORAZON -->
                                        <?php
                                            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                            $CodigoProduc = "";
                                            $_in_wishlist = false;
                                            foreach ($this->helper('Magento\Wishlist\Helper\Data')->getWishlistItemCollection() as $_wishlist_item){
                                                $CodigoProduc = $CodigoProduc . " - " . $_wishlist_item->getProduct()->getId();
                                                if($_item->getId() == $_wishlist_item->getProduct()->getId()){
                                                    $_in_wishlist = true;
                                                }
                                            }
                                            $customerSession = $objectManager->get('Magento\Customer\Model\Session');
                                            if($customerSession->isLoggedIn()) 
                                            {
                                                if($_in_wishlist) { ?>
                                                    <a href="#" data-post="#" data-action="already-in-wishlist">
                                                        <svg class="corazon-favoritos" viewBox="0 0 512 455.52">
                                                            <path class="svg_rosa" d="M471.38,44.58C444.88,15.83,408.51,0,368.97,0c-29.55,0-56.62,9.34-80.45,27.77c-12.02,9.3-22.92,20.68-32.52,33.96
                                                                c-9.6-13.28-20.5-24.66-32.53-33.96C199.65,9.34,172.58,0,143.03,0C103.49,0,67.12,15.83,40.61,44.58C14.43,72.99,0,111.8,0,153.87
                                                                c0,43.3,16.14,82.94,50.78,124.74c30.99,37.39,75.54,75.36,127.12,119.31c17.61,15.01,37.58,32.03,58.31,50.15
                                                                c5.48,4.8,12.5,7.44,19.79,7.44c7.29,0,14.32-2.64,19.79-7.43c20.73-18.13,40.71-35.15,58.33-50.17
                                                                c51.57-43.95,96.12-81.91,127.11-119.3c34.64-41.8,50.78-81.44,50.78-124.74C512,111.8,497.57,72.99,471.38,44.58z"/>
                                                        </svg>
                                                <!-- <span>FAVORITO</span> -->
                                                    </a>
                                                <?php } else { ?>
                                                    <a href="#" data-post='<?php echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_item) ?>'
                                                    data-action="add-to-wishlist">
                                                        <svg class="corazon-favoritos" viewBox="0 0 512 455.52">
                                                            <path class="svg_rosa" d="M256,455.52c-7.29,0-14.32-2.64-19.79-7.44C215.52,429.99,195.58,413,177.99,398l-0.09-0.08
                                                        c-51.58-43.96-96.13-81.92-127.12-119.31C16.14,236.81,0,197.17,0,153.87C0,111.8,14.43,72.99,40.62,44.58
                                                        C67.12,15.83,103.49,0,143.03,0c29.55,0,56.62,9.34,80.45,27.77c12.02,9.3,22.92,20.68,32.52,33.96
                                                        c9.61-13.28,20.5-24.66,32.53-33.96C312.35,9.34,339.42,0,368.97,0c39.54,0,75.91,15.83,102.41,44.58
                                                        C497.58,72.99,512,111.8,512,153.87c0,43.3-16.13,82.94-50.78,124.74c-30.99,37.4-75.53,75.36-127.11,119.31
                                                        c-17.63,15.02-37.6,32.04-58.33,50.17C270.32,452.88,263.29,455.52,256,455.52z M143.03,29.99c-31.07,0-59.61,12.4-80.37,34.91
                                                        c-21.07,22.86-32.68,54.45-32.68,88.96c0,36.42,13.54,68.99,43.88,105.61c29.33,35.39,72.96,72.57,123.48,115.63l0.09,0.08
                                                        c17.66,15.05,37.68,32.11,58.52,50.33c20.96-18.25,41.01-35.34,58.71-50.42c50.51-43.05,94.14-80.22,123.47-115.62
                                                        c30.34-36.62,43.88-69.19,43.88-105.61c0-34.52-11.61-66.11-32.68-88.96c-20.76-22.52-49.3-34.91-80.36-34.91
                                                        c-22.76,0-43.65,7.23-62.1,21.5c-16.44,12.72-27.89,28.8-34.61,40.05c-3.45,5.79-9.53,9.24-16.26,9.24s-12.81-3.45-16.26-9.24
                                                        c-6.71-11.25-18.16-27.33-34.61-40.05C186.68,37.23,165.79,29.99,143.03,29.99z"/>
                                                        </svg>
                                                <!-- <span> NO FAVORITO</span> -->
                                                    </a>
                                                <?php } ?>
                                                <?php 
                                            } else { ?> 

                                                <a href="#" data-post='<?php echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_item) ?>' data-action="add-to-wishlist">
                                                        <svg class="corazon-favoritos" viewBox="0 0 512 455.52">
                                                            <path class="svg_rosa" d="M256,455.52c-7.29,0-14.32-2.64-19.79-7.44C215.52,429.99,195.58,413,177.99,398l-0.09-0.08
                                                        c-51.58-43.96-96.13-81.92-127.12-119.31C16.14,236.81,0,197.17,0,153.87C0,111.8,14.43,72.99,40.62,44.58
                                                        C67.12,15.83,103.49,0,143.03,0c29.55,0,56.62,9.34,80.45,27.77c12.02,9.3,22.92,20.68,32.52,33.96
                                                        c9.61-13.28,20.5-24.66,32.53-33.96C312.35,9.34,339.42,0,368.97,0c39.54,0,75.91,15.83,102.41,44.58
                                                        C497.58,72.99,512,111.8,512,153.87c0,43.3-16.13,82.94-50.78,124.74c-30.99,37.4-75.53,75.36-127.11,119.31
                                                        c-17.63,15.02-37.6,32.04-58.33,50.17C270.32,452.88,263.29,455.52,256,455.52z M143.03,29.99c-31.07,0-59.61,12.4-80.37,34.91
                                                        c-21.07,22.86-32.68,54.45-32.68,88.96c0,36.42,13.54,68.99,43.88,105.61c29.33,35.39,72.96,72.57,123.48,115.63l0.09,0.08
                                                        c17.66,15.05,37.68,32.11,58.52,50.33c20.96-18.25,41.01-35.34,58.71-50.42c50.51-43.05,94.14-80.22,123.47-115.62
                                                        c30.34-36.62,43.88-69.19,43.88-105.61c0-34.52-11.61-66.11-32.68-88.96c-20.76-22.52-49.3-34.91-80.36-34.91
                                                        c-22.76,0-43.65,7.23-62.1,21.5c-16.44,12.72-27.89,28.8-34.61,40.05c-3.45,5.79-9.53,9.24-16.26,9.24s-12.81-3.45-16.26-9.24
                                                        c-6.71-11.25-18.16-27.33-34.61-40.05C186.68,37.23,165.79,29.99,143.03,29.99z"/>
                                                     </svg>
                                                        <!-- <span>NO FAVORITO - SIN SESION</span> -->
                                                </a>
                                            <?php
                                            }
                                            ?>
                                        <!-- FIN DEMO CORAZON -->
                                    </div>

                                    <?php
                                    $productUrl = $block->getUrl('weltpixel_quickview/catalog_product/view', array('id' => $_item->getId()));
                                    ?>

                                    <a rel="nofollow" class="weltpixel-quickview " data-quickview-url="<?= $productUrl ?>" href="javascript:void(0);"><span>Vista Rápida</span></a>



                                </div>
                             <?php endif; ?>
                        

                                </div>
                            </div>
                            <?php

                                if ($_item->getTypeId() == \Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE) {

                                $_children = $_item->getTypeInstance()->getUsedProducts($_item);
                                foreach ($_children as $child){
                                 $colorarr[$child->getColor()] = $child->getColor();
                                 }
                                if(count($_children) > 1) { ?><div class="color-total"><?php echo count($_children) . ' Colores'; ?></div><?php  }
                                 }

                            ?>
                            <?= ($iterator == count($relatedProductIds) + 1) ? '</li>' : '' ?>
                        <?php endforeach ?>
                    </ol>
                        </div>
                </div>
        </div>

<?php endif;?>
