<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var $block \Magento\Sales\Block\Order\Totals
 * @see \Magento\Sales\Block\Order\Totals
 */
?>
<?php foreach ($block->getTotals() as $_code => $_total) : ?>
    <?php if ($_total->getBlockName()) : ?>
        <?= $block->getChildHtml($_total->getBlockName(), false) ?>
    <?php else :?>

    <tr class="<?= $block->escapeHtmlAttr($_code) ?>">
        

        <td colspan="5">
            <table>

                <tr>

                    <td style="width: 275px; float: left; text-align: left; font-weight: 700; font-weight: 700" <?= /* @noEscape */ $block->getLabelProperties() ?> scope="row">
                        <?php if ($_total->getStrong()) : ?>
                            <strong><?= $block->escapeHtml($_total->getLabel()) ?></strong>
                        <?php else : ?>
                            <?= $block->escapeHtml($_total->getLabel()) ?>
                        <?php endif ?>
                    </td>

                    <?php

                    if ($block->escapeHtmlAttr($_code) == 'discount') {

                        $pos = substr_count($block->formatValue($_total), '.');
                        $ValFinal = "";

                        if ($pos == 2) {
                            $ValFinal = explode(".",$block->formatValue($_total));
                            $ValFinal = $ValFinal[0] . '.' .  $ValFinal[1];
                        }else{
                            $ValFinal = $block->formatValue($_total);
                        }


                        ?>
                        <td style="width: 197px; float: right; text-align: right; font-weight: 700; font-weight: 700" <?= /* @noEscape */ $block->getValueProperties() ?> data-th="<?= $block->escapeHtmlAttr($_total->getLabel()) ?>">
                                                <?php if ($_total->getStrong()) : ?>
                                                    <strong><?php echo $ValFinal; ?></strong>
                                                <?php else : ?>
                                                    <?php echo $ValFinal; ?>
                                                <?php endif?>
                        </td>
                        <?php
                    }else{
                        ?>
                        <td style="width: 197px; float: right; text-align: right; font-weight: 700; font-weight: 700" <?= /* @noEscape */ $block->getValueProperties() ?> data-th="<?= $block->escapeHtmlAttr($_total->getLabel()) ?>">
                                                <?php if ($_total->getStrong()) : ?>
                                                    <strong><?= /* @noEscape */ $block->formatValue($_total) ?></strong>
                                                <?php else : ?>
                                                    <?= /* @noEscape */ $block->formatValue($_total) ?>
                                                <?php endif?>
                                            </td>
                        <?php
                    }


                    ?>

                    
                </tr>

            </table>

        </td>
        
    </tr>

    <?php endif; ?>
<?php endforeach?>
