<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Form\Edit $block */
?>
<form class="form form-edit-account" action="<?= $block->escapeUrl($block->getUrl('customer/account/editPost')) ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>" autocomplete="off">
    <fieldset class="fieldset info">
        <?= $block->getBlockHtml('formkey') ?>
        <legend class="legend"><span><?= $block->escapeHtml(__('Account Information')) ?></span></legend><br>
        <?= $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Name::class)->setObject($block->getCustomer())->toHtml() ?>

        <?php $_dob = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Dob::class) ?>
        <?php $_taxvat = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Taxvat::class) ?>
        <?php $_gender = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Gender::class) ?>
        <?php if ($_dob->isEnabled()) : ?>
            <?= $_dob->setDate($block->getCustomer()->getDob())->toHtml() ?>
        <?php endif ?>
        <?php if ($_taxvat->isEnabled()) : ?>
            <?= $_taxvat->setTaxvat($block->getCustomer()->getTaxvat())->toHtml() ?>
        <?php endif ?>
        <?php if ($_gender->isEnabled()) : ?>
            <?= $_gender->setGender($block->getCustomer()->getGender())->toHtml() ?>
        <?php endif ?>

        <div class="field rut required">
            <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Rut')) ?></span></label>
            <div class="control" id="rutmensaje">
                    <input type="text" name="rut" id="rut" placeholder="Ingresa tu Rut" onkeypress="return valideKey(event)" onblur="Rut()" value="<?= $block->escapeHtmlAttr($block->getCustomer()->getRut()) ?>" title="<?= $block->escapeHtmlAttr(__('Rut')) ?>" class="input-text" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true}">
            </div>
        </div>


        <div class="field choice">
            <input type="checkbox" name="change_email" id="change-email" data-role="change-email" value="1" title="<?= $block->escapeHtmlAttr(__('Change Email')) ?>" class="checkbox" />
            <label class="label" for="change-email"><span><?= $block->escapeHtml(__('Change Email')) ?></span></label>
        </div>
        <div class="field choice">
            <input type="checkbox" name="change_password" id="change-password" data-role="change-password" value="1" title="<?= $block->escapeHtmlAttr(__('Change Password')) ?>"<?php if ($block->getChangePassword()) : ?> checked="checked"<?php endif; ?> class="checkbox" />
            <label class="label" for="change-password"><span><?= $block->escapeHtml(__('Change Password')) ?></span></label>
        </div>
    </fieldset>

    <fieldset class="fieldset password" data-container="change-email-password">
        <legend class="legend"><span data-title="change-email-password"><?= $block->escapeHtml(__('Change Email and Password')) ?></span></legend><br>
        <div class="field email required" data-container="change-email">
            <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
                <input type="email" name="email" id="email" autocomplete="email" data-input="change-email" value="<?= $block->escapeHtmlAttr($block->getCustomer()->getEmail()) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text" data-validate="{required:true, 'validate-email':true}" />
            </div>
        </div>
        <div class="field password current required">
            <label class="label" for="current-password"><span><?= $block->escapeHtml(__('Current Password')) ?></span></label>
            <div class="control">
                <input type="password" class="input-text" name="current_password" id="current-password" data-input="current-password" autocomplete="off" />
            </div>
        </div>
        <div class="field new password required" data-container="new-password">
            <label class="label" for="password"><span><?= $block->escapeHtml(__('New Password')) ?></span></label>
            <div class="control">
                <input type="password" class="input-text" name="password" id="password"
                    data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                    data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
                    data-input="new-password"
                    data-validate="{required:true, 'validate-customer-password':true}"
                    autocomplete="off" />
                <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?= $block->escapeHtml(__('Password Strength')) ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?= $block->escapeHtml(__('No Password')) ?>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="field confirm password required" data-container="confirm-password">
            <label class="label" for="password-confirmation"><span><?= $block->escapeHtml(__('Confirm New Password')) ?></span></label>
            <div class="control">
                <input type="password" class="input-text" name="password_confirmation" id="password-confirmation"
                    data-input="confirm-password"
                    autocomplete="off" />
            </div>
        </div>



        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action save primary" title="<?= $block->escapeHtmlAttr(__('Save')) ?>"><span><?= $block->escapeHtml(__('Save')) ?></span></button>
            </div>
            <div class="secondary">
                <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Go back')) ?></span></a>
            </div>
        </div>



    </fieldset>
    <?= $block->getChildHtml('form_additional_info') ?>






</form>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
        var dataForm = $('#form-validate');
        var ignore = <?= /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null' ?>;
        
        dataForm.mage('validation', {
        <?php if ($_dob->isEnabled()) : ?>
            errorPlacement: function(error, element) {
                if (element.prop('id').search('full') !== -1) {
                    var dobElement = $(element).parents('.customer-dob'),
                        errorClass = error.prop('class');
                    error.insertAfter(element.parent());
                    dobElement.find('.validate-custom').addClass(errorClass)
                        .after('<div class="' + errorClass + '"></div>');
                }
                else {
                    error.insertAfter(element);
                }
            },
            ignore: ':hidden:not(' + ignore + ')'
        <?php else : ?>
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
        <?php endif ?>
        });

    });
</script>
<script type="text/x-magento-init">
    {
        "[data-role=change-email], [data-role=change-password]": {
            "changeEmailPassword": {
                "titleChangeEmail": "<?= $block->escapeJs($block->escapeHtml(__('Change Email'))) ?>",
                "titleChangePassword": "<?= $block->escapeJs($block->escapeHtml(__('Change Password'))) ?>",
                "titleChangeEmailAndPassword": "<?= $block->escapeJs($block->escapeHtml(__('Change Email and Password'))) ?>"
            }
        },
        "[data-container=new-password]": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-edit-account"
            }
        }
    }
</script>
<script type="text/javascript">
    require([
        'jquery', // jquery Library
        'mage/url',
        'jquery/ui', // Jquery UI Library
        'jquery/validate', // Jquery Validation Library
    'mage/translate' // Magento text translate (Validation message translte as per language)
    ], function($,url){ 

        var onBlurRut = function()
                    { 
            var texto = $(".form-edit-account #rut").val();

            var tmpstr = "";
            var i =0;
            var j = 0;    
            for ( i=0; i < texto.length ; i++ ){     
                if ( texto.charAt(i) != ' ' && texto.charAt(i) != '.' && texto.charAt(i) != '-' ){
                    tmpstr = tmpstr + texto.charAt(i);  
                }
            }

            texto = tmpstr; 
            var largo = texto.length;   

            if ( largo < 9 )    
            {   
                if (largo == 0) {

                }else{
                    $(".form-edit-account #rut").val("");
                    $(".form-edit-account #rut").trigger('keyup');
                }
                //return false;   
            }   

            for (i=0; i < largo ; i++ ) 
            {           
                if ( texto.charAt(i) !="0" && texto.charAt(i) != "1" && texto.charAt(i) !="2" && texto.charAt(i) != "3" && texto.charAt(i) != "4" && texto.charAt(i) !="5" && texto.charAt(i) != "6" && texto.charAt(i) != "7" && texto.charAt(i) !="8" && texto.charAt(i) != "9" && texto.charAt(i) !="k" && texto.charAt(i) != "K" )
                {           
                    $(".form-edit-account #rut").val("");
                    $(".form-edit-account #rut").trigger('keyup');       
                }   
            }   

            var invertido = ""; 
            for ( i=(largo-1),j=0; i>=0; i--,j++ ){     
                invertido = invertido + texto.charAt(i); 
            }   
            var dtexto = "";    
            var dtexto = dtexto + invertido.charAt(0);  
            dtexto = dtexto + '-';  
            var cnt = 0;    

            for ( i=1,j=2; i<largo; i++,j++ )   
            {       
                //alert("i=[" + i + "] j=[" + j +"]" );     
                if ( cnt == 3 )     
                {           
                    dtexto = dtexto + '.';          
                    j++;            
                    dtexto = dtexto + invertido.charAt(i);          
                    cnt = 1;        
                }       
                else        
                {               
                    dtexto = dtexto + invertido.charAt(i);          
                    cnt++;      
                }   
            }   

            invertido = ""; 
            for ( i=(dtexto.length-1),j=0; i>=0; i--,j++ ) {    
                invertido = invertido + dtexto.charAt(i); 
            }  


            $(".form-edit-account #rut").val(invertido.toUpperCase());
            $(".form-edit-account #rut").trigger('keyup') 
      

            //////
            largo = texto.length;
            var rut ="";    
            if ( largo < 2 )    
            {       
                $(".form-edit-account #rut").val("");
                $(".form-edit-account #rut").trigger('keyup'); 
            }   
            if ( largo > 2 ){        
                rut = texto.substring(0, largo - 1); 
            }else{        
                rut = texto.charAt(0);
            }
            var dv = texto.charAt(largo-1); 


            ///////revisar 
            //revisarDigito( dv );
            var dvr = dv + ""   
            if ( dvr != '0' && dvr != '1' && dvr != '2' && dvr != '3' && dvr != '4' && dvr != '5' && dvr != '6' && dvr != '7' && dvr != '8' && dvr != '9' && dvr != 'k'  && dvr != 'K') 
            {       
                $(".form-address-edit #rut").val("");
                $(".form-address-edit #rut").trigger('keyup');
     
            }   
            ///////revisar     

            if ( rut == null || dv == null ){
                return 0 ; 
            }

            var dvr = '0';   
            var suma = 0 ;  
            var mul  = 2 ; 
            var dvi = 0;  

            for (i= rut.length -1 ; i >= 0; i--)    
            {   
                suma = suma + rut.charAt(i) * mul       
                if (mul == 7){           
                    mul = 2;     
                }else{                
                    mul++ ;
                }  
            }   
            var res = suma % 11 
            if (res==1){     
                dvr = 'k';   
            }else{
                if (res==0){        
                    dvr = '0';
                }   
                else{       
                    dvi = 11-res;        
                    dvr = dvi + "";  
                }
            }
            if ( dvr != dv.toLowerCase() )  {       
                $(".form-edit-account #rut").val("");
                $(".form-edit-account #rut").trigger('keyup'); 
            }
        };


        $(document).on('blur', '.form-edit-account #rut', onBlurRut);

        $.validator.addMethod(
            'valida-rut', function (value) { 
            var texto = value;
                var tmpstr = "";
                var i= 0;
                var j= 0;
                var largo = 0;
                var rut ="";

                for ( i=0; i < texto.length ; i++ )   {  
                    if ( texto.charAt(i) != ' ' && texto.charAt(i) != '.' && texto.charAt(i) != '-' ){
                        tmpstr = tmpstr + texto.charAt(i);  
                    }
                }
                texto = tmpstr; 
                largo = texto.length;   

                if ( largo < 9 )    
                {             
                    return false;   
                }   

                for (i=0; i < largo ; i++ ) 
                {           
                    if ( texto.charAt(i) !="0" && texto.charAt(i) != "1" && texto.charAt(i) !="2" && texto.charAt(i) != "3" && texto.charAt(i) != "4" && texto.charAt(i) !="5" && texto.charAt(i) != "6" && texto.charAt(i) != "7" && texto.charAt(i) !="8" && texto.charAt(i) != "9" && texto.charAt(i) !="k" && texto.charAt(i) != "K" )
                    {           
                        return false;       
                    }   
                }   

                var invertido = ""; 
                for ( i=(largo-1),j=0; i>=0; i--,j++ ) {    
                    invertido = invertido + texto.charAt(i); 
                }   
                var dtexto = "";    
                dtexto = dtexto + invertido.charAt(0);  
                dtexto = dtexto + '-';  
                var cnt = 0;    

                for ( i=1,j=2; i<largo; i++,j++ )   
                {           
                    if ( cnt == 3 )     
                    {           
                        dtexto = dtexto + '.';          
                        j++;            
                        dtexto = dtexto + invertido.charAt(i);          
                        cnt = 1;        
                    }       
                    else        
                    {               
                        dtexto = dtexto + invertido.charAt(i);          
                        cnt++;      
                    }   
                }   

                invertido = ""; 
                for ( i=(dtexto.length-1),j=0; i>=0; i--,j++ ){      
                    invertido = invertido + dtexto.charAt(i);    
                }
                //if ( revisarDigito2(texto) ) {

                largo = texto.length;    
                if ( largo < 2 )    
                {       
                    return false;   
                }   
                if ( largo > 2 ){      
                    rut = texto.substring(0, largo - 1); 
                }else{  
                    rut = texto.charAt(0);   
                }
                var dv = texto.charAt(largo-1);  

                /////// 
                var dvr = dv + ""   
                if ( dvr != '0' && dvr != '1' && dvr != '2' && dvr != '3' && dvr != '4' && dvr != '5' && dvr != '6' && dvr != '7' && dvr != '8' && dvr != '9' && dvr != 'k'  && dvr != 'K') 
                {       
                    return false;   
                }   
                /////////  

                
                if ( rut == null || dv == null ){
                    return false;  
                }

                dvr = '0';   
                var suma = 0;    
                var mul  = 2;    

                for (i= rut.length -1 ; i >= 0; i--)    
                {   
                    suma = suma + rut.charAt(i) * mul ;      
                    if (mul == 7){         
                        mul = 2;     
                    }else{                
                        mul++;
                    }   
                }   
                var res = suma % 11; 
                if (res==1){     
                    dvr = 'k';   
                }else{
                    if (res==0){        
                        dvr = '0';   
                    }else{       
                    var dvi = 11-res;        
                    dvr = dvi + "";  
                    }
                }
                if ( dvr != dv.toLowerCase() )  
                {       
                    return false ;   
                }

                return true
                
            },
            $.mage.__("Rut inválido."));
            
            $('.form-edit-account #rut').attr("data-validate", "{'valida-rut': true}");      
    });
</script>
