<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Form\Register $block */
?>

<?php /* Extensions placeholder */ ?>
<?php $img_registro=$block->getConfig('amsociallogin/general/registration_image'); 
 $img_registro_movil=$block->getConfig('amsociallogin/general/registration_image_movil');

$mediaUrl = $block->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA );
$UrlImagen = $mediaUrl . "media/logo/" . $img_registro;
$UrlImagenMovil = $mediaUrl . "media/logo/" . $img_registro_movil;

?>

<div class="registrar-img">
    <img class="ingresar-movil" src="<?php echo $UrlImagenMovil ?>">
    <img class="ingresar-escritorio" alt="" src="<?php echo $UrlImagen ?>">
</div>

<div class="registrar-info">
    <h2>REGÍSTRATE EN <br><strong>SALUD5I.cl</strong></h2>
    <form class="form create account form-create-account" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
        <?= /* @noEscape */ $block->getChildHtml('form_fields_before_in_form') ?>
        <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>





       
        <fieldset class="fieldset create info">
            <legend class="legend"><span><?= $block->escapeHtml(__('Personal Information')) ?></span></legend><br>
            <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
            <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">

            <div class="field required">
                <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                <div class="control">
                    <input type="email" name="email" autocomplete="email" id="email_address" placeholder="Ingresa tu Email" value="<?= $block->escapeHtmlAttr($block->getFormData()->getEmail()) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
                </div>
            </div>


            <div class="field firstname required">
                <label for="firstname" class="label"><span><?= $block->escapeHtml(__('firstname')) ?></span></label>
                <div class="control">
                    <input type="text" name="firstname" autocomplete="firstname" id="firstname" placeholder="Nombre" 
                     title="<?= $block->escapeHtmlAttr(__('firstname')) ?>" class="input-text" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true}">
                </div>
            </div>

            <div class="field lastname required">
                <label for="lastname" class="label"><span><?= $block->escapeHtml(__('lastname')) ?></span></label>
                <div class="control">
                    <input type="text" name="lastname" autocomplete="lastname" id="lastname" placeholder="Apellido"  title="<?= $block->escapeHtmlAttr(__('lastname')) ?>" class="input-text" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true}">
                </div>
            </div>


            <div class="field rut required">
                <label for="rut" class="label"><span><?= $block->escapeHtml(__('Rut')) ?></span></label>
                <div class="control">
                    <input type="text" name="rut" id="rut" placeholder="Rut" onkeypress="return valideKey(event)" onblur="Rut()" value="<?= $block->escapeHtmlAttr($block->getFormData()->getRut()) ?>" title="<?= $block->escapeHtmlAttr(__('Rut')) ?>" class="input-text" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'rutvalidationrule':true}">
                    <div id="rutmensaje"></div>
                </div>
            </div>


            <?php $_dob = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Dob::class) ?>
            <?php if ($_dob->isEnabled()) : ?>
                <?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
            <?php endif ?>

            <?php $_taxvat = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Taxvat::class) ?>
            <?php if ($_taxvat->isEnabled()) : ?>
                <?= $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
            <?php endif ?>

            <?php $_gender = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Gender::class) ?>
            <?php if ($_gender->isEnabled()) : ?>
                <?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
            <?php endif ?>
            <input name = "DummyUsername" type="text" style="display:none;">
            <input name = "DummyPassword" type="password" style="display:none;">
        </fieldset>








        <?php if ($block->getShowAddressFields()) : ?>
        <fieldset class="fieldset address">
            <legend class="legend"><span><?= $block->escapeHtml(__('Address Information')) ?></span></legend><br>
            <input type="hidden" name="create_address" value="1" />

            <?php $_company = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Company::class) ?>
            <?php if ($_company->isEnabled()) : ?>
                <?= $_company->setCompany($block->getFormData()->getCompany())->toHtml() ?>
            <?php endif ?>

            <?php $_telephone = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Telephone::class) ?>
            <?php if ($_telephone->isEnabled()) : ?>
                <?= $_telephone->setTelephone($block->getFormData()->getTelephone())->toHtml() ?>
            <?php endif ?>

            <?php $_fax = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Fax::class) ?>
            <?php if ($_fax->isEnabled()) : ?>
                <?= $_fax->setFax($block->getFormData()->getFax())->toHtml() ?>
            <?php endif ?>
            <?php //phpcs:disable ?>
            <?php $_streetValidationClass = $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('street'); ?>
            <?php //phpcs:enable ?>
            <div class="field street required">
                <label for="street_1" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?></span></label>
                <div class="control">
                    <input type="text" name="street[]" value="<?= $block->escapeHtmlAttr($block->getFormData()->getStreet(0)) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?>" id="street_1" class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                    <div class="nested">
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php //phpcs:disable ?>
                        <?php for ($_i = 2, $_n = $this->helper(\Magento\Customer\Helper\Address::class)->getStreetLines(); $_i <= $_n; $_i++) : ?>
                        <?php //phpcs:enable ?>
                            <div class="field additional">
                                <label class="label" for="street_<?= /* @noEscape */ $_i ?>">
                                    <span><?= $block->escapeHtml(__('Address')) ?></span>
                                </label>
                                <div class="control">
                                    <input type="text" name="street[]" value="<?= $block->escapeHtmlAttr($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i)) ?>" id="street_<?= /* @noEscape */ $_i ?>" class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                                </div>
                            </div>
                        <?php endfor; ?>
                    </div>
                </div>
            </div>

            <div class="field required">
                <label for="city" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?></span></label>
                <div class="control">
                    <?php //phpcs:disable ?>
                    <input type="text" name="city" value="<?= $block->escapeHtmlAttr($block->getFormData()->getCity()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?>" class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('city')) ?>" id="city">
                    <?php //phpcs:enable ?>
                </div>
            </div>

            <div class="field region required">
                <label for="region_id" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?></span></label>
                <div class="control">
                    <select id="region_id" name="region_id" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>" class="validate-select region_id" style="display:none;">
                        <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                    </select>
                    <?php //phpcs:disable ?>
                    <input type="text" id="region" name="region" value="<?= $block->escapeHtmlAttr($block->getRegion()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>" class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('region')) ?>" style="display:none;">
                    <?php //phpcs:enable ?>
                </div>
            </div>

            <div class="field zip required">
                <label for="zip" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span></label>
                <div class="control">
                    <?php //phpcs:disable ?>
                    <input type="text" name="postcode" value="<?= $block->escapeHtmlAttr($block->getFormData()->getPostcode()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>" id="zip" class="input-text validate-zip-international <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('postcode')) ?>">
                    <?php //phpcs:enable ?>
                </div>
            </div>

            <div class="field country required">
                <label for="country" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
                <div class="control">
                    <?= $block->getCountryHtmlSelect() ?>
                </div>
            </div>
            <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
            <?php if ($addressAttributes) : ?>
                <?php $addressAttributes->setEntityType('customer_address'); ?>
                <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                <?= $addressAttributes->setShowContainer(false)->toHtml() ?>
            <?php endif;?>
            <input type="hidden" name="default_billing" value="1">
            <input type="hidden" name="default_shipping" value="1">
        </fieldset>

        <?php endif; ?>









        <fieldset class="fieldset create account" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
            
            <legend class="legend"><span><?= $block->escapeHtml(__('Sign-in Information')) ?></span></legend><br>

            <div class="contraseña">

                <label for="password" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>

                <div class="field password required">
                    
                    <div class="control">

                        <input type="password" name="password" id="password"
                               title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
                               class="input-text" placeholder="Ingresa tu contraseña"
                               data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                               data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
                               data-validate="{required:true, 'validate-customer-password':true}"
                               autocomplete="off">
                        <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                            <div id="password-strength-meter" class="password-strength-meter">
                                <?= $block->escapeHtml(__('Password Strength')) ?>:
                                <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                                    <?= $block->escapeHtml(__('No Password')) ?>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field confirmation required">
                    <label for="password-confirmation" class="label"><span><?= $block->escapeHtml(__('Confirm Password')) ?></span></label>
                    <div class="control">
                        <input type="password" name="password_confirmation" placeholder="Confirma tu contraseña" title="<?= $block->escapeHtmlAttr(__('Confirm Password')) ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
                    </div>
                </div>
                <?= $block->getChildHtml('form_additional_info') ?>

            </div>

        </fieldset>





        <?php if ($block->isNewsletterEnabled()) : ?>

            <div class="field choice newsletter">

                <div class="mgs-filter-item-checkbox">
                    <input type="checkbox" checked="checked" name="is_subscribed" title="<?= $block->escapeHtmlAttr(__('Quiero suscribirme al newsletter')) ?>" value="1" id="is_subscribed"<?php if ($block->getFormData()->getIsSubscribed()) : ?> checked="checked"<?php endif; ?> class="checkbox mgs-layered-checkbox">
                    <div class="mgs-content"></div>
                </div>

                <label for="is_subscribed" class="label"><span><?= $block->escapeHtml(__('Quiero suscribirme al newsletter')) ?></span></label>
            </div>

        <?php endif ?>



        <div class="field choice terminos">

            <div class="mgs-filter-item-checkbox">
                <input type="checkbox" name="is_termino" title="<?= $block->escapeHtmlAttr(__('Terminos y condiciones')) ?>" value="1" id="is_termino" checked="checked" class="checkbox mgs-layered-checkbox"  data-validate="{required:true}">
                <div class="mgs-content"></div>
            </div>

            <label for="is_termino" class="label">
                <span>Acepto <a href="/terminos-y-condiciones"><?= $block->escapeHtml(__('términos y condiciones')) ?></a></span>
            </label>
        </div>




        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action submit primary" title="<?= $block->escapeHtmlAttr(__('Registrarme')) ?>"><span><?= $block->escapeHtml(__('Registrarme')) ?></span></button>
            </div>
            <div class="secondary">
                <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Back')) ?></span></a>
            </div>

            <div class="franja-redes">
                <span>ó</span>
                <p>Registrarme con</p>
            </div>

            <!-- aca van las redes4444 -->
            <?= $block->getChildHtml('amsociallogin-social-popup2'); ?>


        </div>
    </form>


</div>

<script type="text/javascript">
  function valideKey(evt)
  {
    var code = (evt.which) ? evt.which : evt.keyCode;
    console.log(code);
    if(code==8) 
    {
      //backspace
      return true;
    }else if (code == 107) {
    	return true;
    }else if(code>=48 && code<=57) 
    {
      //is a number
      return true;
    }
    else
    {
      return false;
    }
  }
</script>



<script type="text/javascript">
    //
// Validador de Rut
// Descargado desde http://www.juque.cl/
//
function revisarDigito( dvr )
{   
    dv = dvr + ""   
    if ( dv != '0' && dv != '1' && dv != '2' && dv != '3' && dv != '4' && dv != '5' && dv != '6' && dv != '7' && dv != '8' && dv != '9' && dv != 'k'  && dv != 'K') 
    {       
        alert("Debe ingresar un digito verificador valido");

        return false;   
    }   
    return true;
}

function revisarDigito2( crut )
{   
    largo = crut.length;    
    if ( largo < 2 )    
    {       
        require([
                'jquery',
                'mage/mage'
        ], function($){
            $("#rut").val("");
            $("#rutmensaje").html("Debe ingresar el rut completo");
        });
        return false;   
    }   
    if ( largo > 2 )        
        rut = crut.substring(0, largo - 1); 
    else        
        rut = crut.charAt(0);   
    dv = crut.charAt(largo-1);  
    revisarDigito( dv );    

    if ( rut == null || dv == null )
        return 0    

    var dvr = '0'   
    suma = 0    
    mul  = 2    

    for (i= rut.length -1 ; i >= 0; i--)    
    {   
        suma = suma + rut.charAt(i) * mul       
        if (mul == 7)           
            mul = 2     
        else                
            mul++   
    }   
    res = suma % 11 
    if (res==1)     
        dvr = 'k'   
    else if (res==0)        
        dvr = '0'   
    else    
    {       
        dvi = 11-res        
        dvr = dvi + ""  
    }
    if ( dvr != dv.toLowerCase() )  
    {       

        require([
                'jquery',
                'mage/mage'
        ], function($){
            $("#rut").val("");
            $("#rutmensaje").html("EL rut es incorrecto");
        });
        return false    
    }

    return true
}

function Rut()
{   

    texto = document.getElementById("rut").value;

    var tmpstr = "";    
    for ( i=0; i < texto.length ; i++ )     
        if ( texto.charAt(i) != ' ' && texto.charAt(i) != '.' && texto.charAt(i) != '-' )
            tmpstr = tmpstr + texto.charAt(i);  
    texto = tmpstr; 
    largo = texto.length;   

    if ( largo < 2 )    
    {   
        if (largo == 0) {

            require([
                'jquery',
                'mage/mage'
            ], function($){
                $("#rutmensaje").empty();
            });
        }else{
            require([
                'jquery',
                'mage/mage'
            ], function($){
                $("#rut").val("");
                $("#rutmensaje").html("Rut Invalido");
            });
            
        }

        return false;   
    }   

    for (i=0; i < largo ; i++ ) 
    {           
        if ( texto.charAt(i) !="0" && texto.charAt(i) != "1" && texto.charAt(i) !="2" && texto.charAt(i) != "3" && texto.charAt(i) != "4" && texto.charAt(i) !="5" && texto.charAt(i) != "6" && texto.charAt(i) != "7" && texto.charAt(i) !="8" && texto.charAt(i) != "9" && texto.charAt(i) !="k" && texto.charAt(i) != "K" )
        {           

            document.getElementById("rutmensaje").append("El valor ingresado no corresponde a un R.U.T valido");
            document.getElementById("rut").value = "";
            return false;       
        }   
    }   

    var invertido = ""; 
    for ( i=(largo-1),j=0; i>=0; i--,j++ )      
        invertido = invertido + texto.charAt(i);    
    var dtexto = "";    
    dtexto = dtexto + invertido.charAt(0);  
    dtexto = dtexto + '-';  
    cnt = 0;    

    for ( i=1,j=2; i<largo; i++,j++ )   
    {       
        //alert("i=[" + i + "] j=[" + j +"]" );     
        if ( cnt == 3 )     
        {           
            dtexto = dtexto + '.';          
            j++;            
            dtexto = dtexto + invertido.charAt(i);          
            cnt = 1;        
        }       
        else        
        {               
            dtexto = dtexto + invertido.charAt(i);          
            cnt++;      
        }   
    }   

    invertido = ""; 
    for ( i=(dtexto.length-1),j=0; i>=0; i--,j++ )      
        invertido = invertido + dtexto.charAt(i);   

    document.getElementById("rut").value = invertido.toUpperCase();  
    require([
                'jquery',
                'mage/mage'
    ], function($){
        $("#rutmensaje").empty();
    });     

    if ( revisarDigito2(texto) )        
        return true;    

    return false;
}

</script>


<script>
require([
    'jquery',
    'mage/mage'
], function($){

	jQuery("#dob").attr("placeholder","Fecha de Nacimiento");

    var dataForm = $('#form-validate');
    var ignore = <?= /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null' ?>;

    dataForm.mage('validation', {
    <?php if ($_dob->isEnabled()) : ?>
        errorPlacement: function(error, element) {
            if (element.prop('id').search('full') !== -1) {
                var dobElement = $(element).parents('.customer-dob'),
                    errorClass = error.prop('class');
                error.insertAfter(element.parent());
                dobElement.find('.validate-custom').addClass(errorClass)
                    .after('<div class="' + errorClass + '"></div>');
            }
            else {
                error.insertAfter(element);
            }
        },
        ignore: ':hidden:not(' + ignore + ')'
    <?php else : ?>
        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
    <?php endif ?>
    }).find('input:text').attr('autocomplete', 'off');

});
</script>
<?php if ($block->getShowAddressFields()) : ?>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                <?php //phpcs:disable ?>
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                <?php //phpcs:enable ?>
                "defaultRegion": "<?= (int) $block->getFormData()->getRegionId() ?>",
                <?php //phpcs:disable ?>
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
                <?php //phpcs:enable ?>
            }
        }
    }
</script>
<?php endif; ?>

<script type="text/x-magento-init">
    {
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        }
    }
</script>
