<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li class="item product product-item" data-role="product-item">
    <div class="product">


        <div class="foto">
            <!-- ko if: product_has_url -->
            <a data-bind="attr: {href: product_url, title: product_name}" tabindex="-1" class="product-item-photo">
                <!-- ko foreach: $parent.getRegion('itemImage') -->
                    <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
                <!-- /ko -->
            </a>
            <!-- /ko -->
            <!-- ko ifnot: product_has_url -->
            <span class="product-item-photo">
                <!-- ko foreach: $parent.getRegion('itemImage') -->
                    <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
                <!-- /ko -->
            </span>
            <!-- /ko -->
        </div>



        <div class="datos">
            <!-- ko if: product_marca_salud5i -->
            <strong class="product-item-marca">
                    <span><!-- ko text: product_marca_salud5i --><!-- /ko --></span>
            </strong>
            <!-- /ko -->

            <strong class="product-item-name">
                <!-- ko if: product_has_url -->
                <a data-bind="attr: {href: product_url}, html: product_name"></a>
                <!-- /ko -->
                <!-- ko ifnot: product_has_url -->
                    <!-- ko text: product_name --><!-- /ko -->
                <!-- /ko -->
            </strong>

            <!-- ko if: options.length -->
            <div class="product options">
                <span data-role="title" class="toggle" style="display:none"><!-- ko i18n: 'See Details' --><!-- /ko --></span>

                <div class="content">
                    <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
                    <dl class="product options list">
                        <!-- ko foreach: { data: options, as: 'option' } -->
                        <dt class="label"><!-- ko text: option.label --><!-- /ko --></dt>
                        <dd class="values">
                            <!-- ko if: Array.isArray(option.value) -->
                                <span data-bind="html: option.value.join('<br>')"></span>
                            <!-- /ko -->
                            <!-- ko if: (!Array.isArray(option.value) && option.option_type == 'file') -->
                                <span data-bind="html: option.value"></span>
                            <!-- /ko -->
                            <!-- ko if: (!Array.isArray(option.value) && option.option_type != 'file') -->
                                <span data-bind="text: option.value"></span>
                            <!-- /ko -->
                        </dd>
                        <!-- /ko -->
                    </dl>
                </div>
            </div>
            <!-- /ko -->
        </div>



        <div class="cantidad">
            <div class="product-item-pricing">
                <div class="details-qty qty">
                    <label class="label" data-bind="i18n: 'Qty', attr: {
                           for: 'cart-item-'+item_id+'-qty'}"></label>
                    <input data-bind="attr: {
                           id: 'cart-item-'+item_id+'-qty',
                           'data-cart-item': item_id,
                           'data-item-qty': qty,
                           'data-cart-item-id': product_sku
                           }, value: qty"
                           type="number"
                           size="4"
                           min="0"
                           class="item-qty cart-item-qty">
                    <button data-bind="attr: {
                           id: 'update-cart-item-'+item_id,
                           'data-cart-item': item_id,
                           title: $t('Update')
                           }"
                            class="update-cart-item"
                            style="display: none">
                        <span data-bind="i18n: 'Update'"></span>
                    </button>
                </div>
            </div>
        </div>



        <div class="precio-borrar">           
            <div class="product-item-pricing">
                <!-- ko if: canApplyMsrp -->
                <div class="details-map">
                    <span class="label" data-bind="i18n: 'Price'"></span>
                    <span class="value" data-bind="i18n: 'See price before order confirmation.'"></span>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: canApplyMsrp -->
                <!-- ko foreach: $parent.getRegion('priceSidebar') -->
                    <!-- ko if: item.is_sale -->
                    <div class="price-container">
                        <span class="price-wrapper-now" data-bind="html: item.product_price"></span>
                    </div>
                    <div class="price-container">
                      <span class="price-wrapper-before" data-bind="html: item.product_special_price_row"></span>
                    </div>
                    <!-- /ko -->
                    <!-- ko ifnot: item.is_sale -->
                    <div class="price-container">
                      <span class="price-wrapper" data-bind="html: item.product_price"></span>
                    </div>
                    <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
            </div>

            <div class="product actions">
                <!-- ko if: is_visible_in_site_visibility -->
                <div class="primary">
                    <a data-bind="attr: {href: configure_url, title: $t('Edit item')}" class="action edit">
                        <span data-bind="i18n: 'Edit'"></span>
                    </a>
                </div>
                <!-- /ko -->
                <div class="secondary">
                    <a href="#" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}"
                       class="action delete">
                       
                        <!-- <svg viewBox="0 0 450 512">
                            <path d="M405,60h-90V45c0-24.8-20.2-45-45-45h-90c-24.8,0-45,20.2-45,45v15H45C20.2,60,0,80.2,0,105v30c0,8.3,6.7,15,15,15h16.2
                                l26.4,320.9c0,0,0,0.1,0,0.1C59.7,494.4,79,512,102.4,512h245.2c23.4,0,42.7-17.6,44.8-40.9c0,0,0-0.1,0-0.1L418.8,150H435
                                c8.3,0,15-6.7,15-15v-30C450,80.2,429.8,60,405,60z M165,45c0-8.3,6.7-15,15-15h90c8.3,0,15,6.7,15,15v15H165V45z M362.5,468.4
                                c-0.7,7.8-7.1,13.6-14.9,13.6H102.4c-7.8,0-14.2-5.8-14.9-13.6L61.3,150h327.4L362.5,468.4z M420,120h-15H45H30v-15
                                c0-8.3,6.7-15,15-15h105h150h105c8.3,0,15,6.7,15,15V120z M225,180c-8.3,0-15,6.7-15,15v212c0,8.3,6.7,15,15,15s15-6.7,15-15V195
                                C240,186.7,233.3,180,225,180z M315,180c-8.3,0-15,6.7-15,15v212c0,8.3,6.7,15,15,15s15-6.7,15-15V195C330,186.7,323.3,180,315,180z
                                 M135,180c-8.3,0-15,6.7-15,15v212c0,8.3,6.7,15,15,15s15-6.7,15-15V195C150,186.7,143.3,180,135,180z"/>
                        </svg> -->

                        <svg viewBox="0 0 298.7 384">
                        <g>
                            <g>
                                <g>
                                    <path class="tarro-basura" d="M21.3,341.3c0,23.6,19.1,42.7,42.7,42.7h170.7c23.6,0,42.7-19.1,42.7-42.7v-256h-256V341.3z"/>
                                    <polygon class="st0" points="224,21.3 202.7,0 96,0 74.7,21.3 0,21.3 0,64 298.7,64 298.7,21.3            "/>
                                </g>
                            </g>
                        </g>
                        </svg>


                        <span data-bind="i18n: 'Remove'"></span>
                    </a>
                </div>
            </div>
        </div>


    </div>
</li>